<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Title -->
    <title>Order | Đức Phát</title>

    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="/asset/img/favicon.png">

    <!-- Template -->
    <link rel="stylesheet" href="/asset/dashboard/css/graindashboard.css" />
    <style type="text/css">
      

      .error {
        color: red;
        font-size: 16px;
        font-style: italic bold;
      }
      
      .tablePrintOrder{
    border-radius: 10px;
    box-shadow: 0px 5px 5px 5px thistle;
}
      #orderPrint{
      width: 900px !important;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    right: 25%;
    max-width: none !important;
    }
    
    @media screen {
  #printSection {
      display: none;
  }
}

@media print {
  body * {
    visibility:hidden;
  }
  #printSection, #printSection * {
    visibility:visible;
  }
  #printSection {
    position:absolute;
    left:0;
    top:0;
  }
}
      
    </style>
  </head>

  <body class="has-sidebar has-fixed-sidebar-and-header">
    <!-- Header -->
    <header class="header bg-body">
      <nav class="navbar flex-nowrap p-0">
        <div class="navbar-brand-wrapper d-flex align-items-center col-auto">
          <!-- Logo For Mobile View -->
          <a class="navbar-brand navbar-brand-mobile" href="/">
            <img
              class="img-fluid w-100"
              src="/asset/img/lg.png"
              alt=""
            />
          </a>
          <!-- End Logo For Mobile View -->

          <!-- Logo For Desktop View -->
          <a class="navbar-brand navbar-brand-desktop" href="/">
            <img
              class="side-nav-show-on-closed"
              src="/asset/img/lg.png"
              alt=""
              style="width: 70px; height: 33px"
            />
            <img
              class="side-nav-hide-on-closed"
              src="/asset/img/lg.png"
              alt=""
              style="width: auto; height: 33px"
            />
          </a>
          <!-- End Logo For Desktop View -->
        </div>

        <div class="header-content col px-md-3">
          <div class="d-flex align-items-center">
            <!-- Side Nav Toggle -->
            <a
              class="js-side-nav header-invoker d-flex mr-md-2"
              href="#"
              data-close-invoker="#sidebarClose"
              data-target="#sidebar"
              data-target-wrapper="body"
            >
              <i class="gd-align-left"></i>
            </a>
            <!-- End Side Nav Toggle -->

            <!-- User Notifications -->
            <div class="dropdown ml-auto">
              <a
                id="notificationsInvoker"
                class="header-invoker"
                href="#"
                aria-controls="notifications"
                aria-haspopup="true"
                aria-expanded="false"
                data-unfold-event="click"
                data-unfold-target="#notifications"
                data-unfold-type="css-animation"
                data-unfold-duration="300"
                data-unfold-animation-in="fadeIn"
                data-unfold-animation-out="fadeOut"
              >
                <span
                  class="
                    indicator
                    indicator-bordered
                    indicator-top-right
                    indicator-primary
                    rounded-circle
                  "
                ></span>
                <i class="gd-bell"></i>
              </a>

              <div
                id="notifications"
                class="
                  dropdown-menu dropdown-menu-center
                  py-0
                  mt-4
                  w-18_75rem
                  w-md-22_5rem
                  unfold-css-animation unfold-hidden
                "
                aria-labelledby="notificationsInvoker"
                style="animation-duration: 300ms"
              >
                <div class="card">
                  <div
                    class="
                      card-header
                      d-flex
                      align-items-center
                      border-bottom
                      py-3
                    "
                  >
                    <h5 class="mb-0">Thông báo</h5>
                    <button class="btn btn-outline link small ml-auto" onclick="clearAllNotifi()">Clear All</button>
                  </div>

                  <div id="notifi" class="card-body p-0">
                    <div class="list-group list-group-flush">
                      <div class="list-group-item list-group-item-action" th:each="ntn : ${noti}">
                        <div class="d-flex align-items-center text-nowrap mb-2">
                          <i
                            class="gd-info-alt icon-text text-primary mr-2"
                          ></i>
                          <h6 class="font-weight-semi-bold mb-0">Thông báo mới</h6>
                          <span class="list-group-item-date text-muted ml-auto"
                          th:text="${#dates.format(ntn.createdDate, 'dd-MM-yyyy HH:mm')}"></span
                          >
                        </div>
                        <p class="mb-0">
                          Đơn hàng <strong>#[[${ntn.orderId}]]</strong> [[${ntn.description}]].
                        </p>
                        <button class=" btn btn-outline list-group-item-closer text-muted" th:onclick="|deleteByNotifi(${ntn.notificationsId})|"><i class="gd-close"></i
                        ></button>
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End User Notifications -->
            <!-- User Avatar -->
            <div class="dropdown mx-3 dropdown ml-2">
              <a
                id="profileMenuInvoker"
                class="header-complex-invoker"
                href="#"
                aria-controls="profileMenu"
                aria-haspopup="true"
                aria-expanded="false"
                data-unfold-event="click"
                data-unfold-target="#profileMenu"
                data-unfold-type="css-animation"
                data-unfold-duration="300"
                data-unfold-animation-in="fadeIn"
                data-unfold-animation-out="fadeOut"
              >
                <!--img class="avatar rounded-circle mr-md-2" src="#" alt="John Doe"-->
                <span class="mr-md-2 avatar-placeholder">AD</span>
                <span class="d-none d-md-block">[[${username}]]</span>
                <i class="gd-angle-down d-none d-md-block ml-2"></i>
              </a>

              <ul
                id="profileMenu"
                class="
                  unfold unfold-user unfold-light unfold-top unfold-centered
                  position-absolute
                  pt-2
                  pb-1
                  mt-4
                  unfold-css-animation unfold-hidden
                  fadeOut
                "
                aria-labelledby="profileMenuInvoker"
                style="animation-duration: 300ms"
              >
                <li class="unfold-item unfold-item-has-divider">
                  <button
                    class="btn btn-outline unfold-link d-flex align-items-center text-nowrap"
                    th:onclick="'logout('+ *{customer_id} +')'"
                  >
                    <span class="unfold-item-icon mr-3">
                      <i class="gd-power-off"></i>
                    </span>
                    Đăng xuất
                  </button>
                </li>
              </ul>
            </div>
            <!-- End User Avatar -->
          </div>
        </div>
      </nav>
    </header>
    <!-- End Header -->

    <main class="main">
      <!-- Sidebar Nav -->
      <aside id="sidebar" class="js-custom-scroll side-nav">
        <ul id="sideNav" class="side-nav-menu side-nav-menu-top-level mb-0">
          <!-- Title -->
          <li class="sidebar-heading h6">Dashboard</li>
          <!-- End Title -->

          <!-- Dashboard -->
          <li class="side-nav-menu-item">
            <a class="side-nav-menu-link media align-items-center" href="/admin/dashboard">
              <span class="side-nav-menu-icon d-flex mr-3">
                <i class="gd-dashboard"></i>
              </span>
              <span class="side-nav-fadeout-on-closed media-body"
                >Dashboard</span
              >
            </a>
          </li>
          <!-- End Dashboard -->

          <!-- Documentation -->
          <li class="side-nav-menu-item">
            <a
              class="side-nav-menu-link media align-items-center"
              href="#"
              target="_blank"
            >
              <span class="side-nav-menu-icon d-flex mr-3">
                <i class="gd-file"></i>
              </span>
              <span class="side-nav-fadeout-on-closed media-body"
                >Documentation</span
              >
            </a>
          </li>
          <!-- End Documentation -->

          <!-- Title -->
          <li class="sidebar-heading h6">Examples</li>
          <!-- End Title -->

          <li
          class="side-nav-menu-item side-nav-has-menu active side-nav-opened"
        >
          <a
            class="side-nav-menu-link media align-items-center"
            href="#"
            data-target="#subOrder"
          >
            <span class="side-nav-menu-icon d-flex mr-3">
              <i class="gd-shopping-cart"></i>
            </span>
            <span class="side-nav-fadeout-on-closed media-body">Đặt hàng</span>
            <span class="side-nav-control-icon d-flex">
              <i class="gd-angle-right side-nav-fadeout-on-closed"></i>
            </span>
            <span
              class="side-nav__indicator side-nav-fadeout-on-closed"
            ></span>
          </a>

          <!-- order: subOrder -->
          <ul
            id="subOrder"
            class="side-nav-menu side-nav-menu-second-level mb-0"
            style="display: block"
          >
            <li class="side-nav-menu-item active">
              <a class="side-nav-menu-link" href="/admin/order"
                >Danh sách đặt hàng</a
              >
            </li>
          </ul>
          <!-- End order: subORDER -->
        </li>
        <!-- End order -->
         <!-- Users -->
				<li class="side-nav-menu-item side-nav-has-menu"><a
					class="side-nav-menu-link media align-items-center" href="#"
					data-target="#subUsers"> <span
						class="side-nav-menu-icon d-flex mr-3"> <i class="gd-user"></i>
					</span> <span class="side-nav-fadeout-on-closed media-body">Người dùng</span> <span
						class="side-nav-control-icon d-flex"> <i
							class="gd-angle-right side-nav-fadeout-on-closed"></i>
					</span> <span class="side-nav__indicator side-nav-fadeout-on-closed"></span>
				</a> <!-- Users: subUsers -->
					<ul id="subUsers"
						class="side-nav-menu side-nav-menu-second-level mb-0">
						<li class="side-nav-menu-item "><a class="side-nav-menu-link"
							href="/admin/customer">Khách hàng</a></li>
						<li class="side-nav-menu-item "><a class="side-nav-menu-link"
							href="/admin/user">Người dùng</a></li>
					</ul> <!-- End Users: subUsers --></li>
				<!-- End Users -->

				<!-- Products -->

				<li class="side-nav-menu-item side-nav-has-menu "><a
					class="side-nav-menu-link media align-items-center" href="#"
					data-target="#subProducts"> <span
						class="side-nav-menu-icon d-flex mr-3"> <i
							class="gd-package"></i>
					</span> <span class="side-nav-fadeout-on-closed media-body">Sản
							phẩm</span> <span class="side-nav-control-icon d-flex"> <i
							class="gd-angle-right side-nav-fadeout-on-closed"></i>
					</span> <span class="side-nav__indicator side-nav-fadeout-on-closed"></span>
				</a> <!-- Products: subProducts -->
					<ul id="subProducts"
						class="side-nav-menu side-nav-menu-second-level mb-0">
						<li class="side-nav-menu-item"><a class="side-nav-menu-link"
							href="/admin/product">Sản Phẩm</a></li>
						<li class="side-nav-menu-item"><a class="side-nav-menu-link"
							href="/admin/category">Loại sản phẩm</a></li>
						<li class="side-nav-menu-item"><a class="side-nav-menu-link"
							href="/admin/warehouse-receipt">Hóa đơn</a></li>
					</ul> <!-- End Products: subProducts --></li>

				<!-- End Products -->
				<li class="side-nav-menu-item side-nav-has-menu"><a
					class="side-nav-menu-link media align-items-center" href="#"
					data-target="#subCategory"> <span
						class="side-nav-menu-icon d-flex mr-3"> <i class="gd-list"></i>
					</span> <span class="side-nav-fadeout-on-closed media-body">Phân
							phối</span> <span class="side-nav-control-icon d-flex"> <i
							class="gd-angle-right side-nav-fadeout-on-closed"></i>
					</span> <span class="side-nav__indicator side-nav-fadeout-on-closed"></span>
				</a> <!-- category: subcategory -->
					<ul id="subCategory"
						class="side-nav-menu side-nav-menu-second-level mb-0">

						<li class="side-nav-menu-item"><a class="side-nav-menu-link"
							href="/admin/supplier">Nhà cung cấp</a></li>
						<li class="side-nav-menu-item"><a class="side-nav-menu-link"
							href="/admin/trademark">Thương hiệu</a></li>
					</ul> <!-- End category: subCategory --> <!-- End category: subCategory -->
				</li>
        </ul>
      </aside>
      <!-- End Sidebar Nav -->

      <div class="content">
        <div class="py-4 px-3 px-md-4">
          <div class="card mb-3 mb-md-4">
            <div class="card-body">
              <!-- Breadcrumb -->
              <nav class="d-none d-md-block" aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Đơn hàng</a></li>
                  <li class="breadcrumb-item active" aria-current="page">
                    Danh sách đơn hàng
                  </li>
                </ol>
              </nav>
              <!-- End Breadcrumb -->

              <div class="mb-3 mb-md-4 d-flex justify-content-between">
                <div class="h3 mb-0">Đơn hàng</div>
              </div>
              <div>
                <form id="searchForm">
                  <div class="row">
                    <div class="col-lg-3">
                       <input name="ten" class="form-control" type="text" placeholder="Nhập mã đơn hàng cần tìm..." />
                       <input type="hidden" name="trang" value="0" />
                    </div>
                    <div class="col-lg-3">
                              <select id="sort-item" class="form-control" name="xepTheo">
                                <option value="created_date">Lọc theo ngày</option>
                                <option value="orderId">Lọc theo Id</option>
                              </select>
                    </div>

                    <div class="col-lg-3">
                       <select id="sort-item" class="form-control" name="thuTu">
                          <option value="false">Giảm dần</option>
                          <option value="true">Tăng dần</option>
                        </select>
                    </div>

                    <div class="col-lg-3">
                          
                      <button class="btn btn-outline-primary" type="button" id="searchBt">
                        Tìm kiếm
                      </button>
                    </div>
                  </div>
                  
                  
                 

                </form>
              </div>
           
              <!-- Users -->
              <div class="table-responsive-xl" style="margin-top: 30px;">
                <table class="table table-striped table-sm" id="table">
                  <thead>
                    <tr>
                      <th class="font-weight-semi-bold border-top-0 py-2">
                        Mã đơn hàng
                      </th>
                      <th class="font-weight-semi-bold border-top-0 py-2">
                        Tên khách hàng                   
                      </th>                   
                      <th class="font-weight-semi-bold border-top-0 py-2">
                        Số điện thoại
                      </th>
                      <th class="font-weight-semi-bold border-top-0 py-2">
                        Ngày đặt 
                      </th>
                      <th class="font-weight-semi-bold border-top-0 py-2">
                        Địa chỉ GH
                      </th>
                      <th class="font-weight-semi-bold border-top-0 py-2">
                        Sản phẩm
                      </th>
                      <th class="font-weight-semi-bold border-top-0 py-2">
                        Tổng tiền
                      </th>
                      <th class="font-weight-semi-bold border-top-0 py-2">
                        TT đơn hàng
                      </th>                    
                    </tr>
                  </thead>
                  <tbody id="myTable"></tbody>
                </table>

                <div
                  style="float: right"
                  class="
                    page-item
                    card-footer
                    d-block d-md-flex
                    align-items-center
                    d-print-none
                  "
                  id="phanTrang"
                ></div>
              </div>
              <!-- End Users -->
            </div>
          </div>
        </div>

        <!-- Modal -->
        <div
          class="modal fade"
          id="editModal"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog" style="width: 700px; border: 1px dashed #ebebeb ;">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                  <b>Chi tiết đơn hàng</b>
                </h5>
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="table-responsive-xl">
                  <table class="table table-striped table-sm" id="table">
                    <thead>
                      <tr>
                        <th class="font-weight-semi-bold border-top-0 py-2">
                          Tên sản phẩm
                        </th>
                        <th class="font-weight-semi-bold border-top-0 py-2">
                          Hình ảnh
                        </th>
                        <th class="font-weight-semi-bold border-top-0 py-2">
                          Số lượng
                        </th>
                        <th class="font-weight-semi-bold border-top-0 py-2">
                          Giá tiền
                        </th>
                        
                        
                      </tr>
                    </thead>
                    <tbody id="orderDetail"></tbody>
                  </table>
                </div>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-dismiss="modal"
                >
                  Close
                </button>
                

                
              </div>
            </div>
          </div>
        </div>


        <div class="modal fade" id="ttorder" tabindex="-1"
				aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">

							<h5 class="modal-title" id="exampleModalLabel">
								<b>Thêm sản phẩm</b>
							</h5>

							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<form id="editorder"></form>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								data-dismiss="modal">Close</button>
							<button type="button" class="btn btn-primary" action=""
								id="edits">Sửa</button>
						</div>
					</div>
				</div>
			</div>
		<div class="modal fade bd-example-modal-xl" id="print-order" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
					<div class="modal-content" id="orderPrint">
						<div class="modal-header">

							<h5 class="modal-title" id="exampleModalLabel">
								<b>Hóa đơn giao hàng</b>
							</h5>

							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
                <div class="table-responsive-xl">
                  
                   <div id="printThis">
                    <div id="printOrder"></div>
                    </div>
                  
                </div>
              </div>
						<div class="modal-footer">
						<button type="button" class="btn btn-primary" action=""
								id="btnPrint">Print</button>
							<button type="button" class="btn btn-secondary"
								data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
        <!-- Footer -->
        <footer class="small p-3 px-md-4 mt-auto">
          <div class="row justify-content-between">
            <div class="col-lg text-center text-lg-left mb-3 mb-lg-0">
              <ul class="list-dot list-inline mb-0">
                <li
                  class="
                    list-dot-item list-dot-item-not list-inline-item
                    mr-lg-2
                  "
                >
                  <a class="link-dark" href="#">FAQ</a>
                </li>
                <li class="list-dot-item list-inline-item mr-lg-2">
                  <a class="link-dark" href="#">Support</a>
                </li>
                <li class="list-dot-item list-inline-item mr-lg-2">
                  <a class="link-dark" href="#">Contact us</a>
                </li>
              </ul>
            </div>
  
            <div class="col-lg text-center mb-3 mb-lg-0">
              <ul class="list-inline mb-0">
                <li class="list-inline-item mx-2">
                  <a class="link-muted" href="https://www.facebook.com/thanhson2112hc"><i class="gd-facebook"></i></a>
                </li>
                <li class="list-inline-item mx-2">
                  <a class="link-muted" href="https://github.com/sondt2108"><i class="gd-github"></i></a>
                </li>
              </ul>
            </div>
  
            <div class="col-lg text-center text-lg-right">
              &copy; @2021 Team Nocrack
            </div>
          </div>
        </footer>
        <!-- End Footer -->
      </div>
    </main>
    <script src="/asset/dashboard/js/graindashboard.js"></script>
    <script src="/asset/dashboard/js/graindashboard.vendor.js"></script>
    <script src="/asset/dashboard/js/notification.js"></script>
    <script src="/asset/dashboard/js/logout.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
      integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
      crossorigin="anonymous"
    ></script>

    <!-- Validation -->
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"
      integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/additional-methods.min.js"
      integrity="sha512-XZEy8UQ9rngkxQVugAdOuBRDmJ5N4vCuNXCh8KlniZgDKTvf7zl75QBtaVG1lEhMFe2a2DuA22nZYY+qsI2/xA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <script src="https://cdn.jsdelivr.net/npm/form-data-json-convert/dist/form-data-json.min.js"></script>
    <script type="text/javascript">
      var url = "/api/khachhang";

      var token = sessionStorage.getItem("jwtToken");
      
      var rowTemplate =
        "{{#each order}}" +
        "<tr>" +
        '<td class="py-3"><button class="btn btn-outline" onClick="orderDetail({{orderId}});">{{orderId}}</button></td>' +      
        '<td class="py-3">{{fullName}}</td>' +
        '<td class="py-3">{{phoneNumber}}</td>' +
        '<td class="py-3" id="createdDate">{{createdDate}}</td>' +
        '<td class="py-3">{{address}} <p style = "display:block;">({{ward}}-{{district}}-{{province}})</td></p>' +
        "{{#each order_items}}" +
        '<td class="py-3" style = "display:block;">{{productName}}<p style = "display:block; font-weight: bold;font-style: oblique;">Số lượng: {{quantity}}</p></td>' +
        "{{/each}}"+
        '<td class="py-3" id="total">{{total}}</td>' +
        '<td class="py-3"style = "font-weight: bold;font-style: oblique;">{{tinhtrang.tinhTrang}}</td>' +
        '<td class="py-3"><button class="editOrderStatus btn btn-outline" c-id="{{orderId}}"><i class="gd-list"></i></button>' +
        '<td class="py-3"><button class="printOrder btn btn-outline" c-id="{{orderId}}"><i class="gd-printer"></i></button>' +
        "</tr>" +
        "{{/each}}";
     
      var rowHbs = Handlebars.compile(rowTemplate);

      function loadList() {
        var searchForm = FormDataJson.toJson(document.querySelector("form"));
        var searchOption = {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            'Authorization': 'Bearer ' + token
          },
          body: JSON.stringify(searchForm),
        };

        fetch("/api/order/search", searchOption)
          .then((res) => res.json())
          .then((data) => {
            var rows = rowHbs({ order: data.content });
            $("#myTable").html(rows);
            bindEvent();
            clickPrint();
            formatNumber();
            var pageHtml = "";
            for (var i = 0; i < data.totalPages; i++) {
              pageHtml += `<button style="display: inline-block; margin-left:5px;" value="${i}" id="datatablePagination0" class='${i == searchForm.trang ? "page-link active pageIndex" : "page-link pageIndex"}'>${i+1}</button>`;
            }
            $("#phanTrang").html(pageHtml);

            $(".pageIndex").click(function () {
              $('#searchForm input[name="trang"]').val($(this).val());
              loadList();
            });
          });
      }
      loadList();

      
  

function formatNumber() {
    $('#myTable tr').each(function() {
        var price = $(this).find("#total").html();
        var priceFormat = price.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')
        var pr = $(this).find("#total").text(priceFormat + 'đ');

        //date
        var date = $(this).find("#createdDate").html();
        console.log(date);
        var dateFormat = new Date(date);
        var dt = $(this).find("#createdDate").text(dateFormat.toLocaleString());
    });
}
      
      

      $("#searchBt").click(function () {
        loadList();
      });

      var insertModal = new bootstrap.Modal(
        document.getElementById("editModal"),
        {
          keyboard: false,
        }
      );

      

      var rowTemplateOrderDetail =
        "{{#each orderDetail}}" +
        "<tr>" +
        '<td class="py-3">{{productName}}</td>' +
        '<td class="py-3"><img src="{{product.hinhanh}}" style="width: 50px; height: 50px" /></td>' +
        '<td class="py-3">{{quantity}}</td>' +
        '<td class="py-3">{{price}} ' +
        "</tr>" +
        "{{/each}}";
      var rowHbsOrderDetail = Handlebars.compile(rowTemplateOrderDetail);

    

      function orderDetail(id) {     
        insertModal.show();

          var searchOption = {
          method: "GET",
          headers: {
            "Content-Type": "application/json",
          },
         
        };
          fetch("/api/orderdetail/" + id, searchOption)
            .then((res) => res.json())
            .then((data) => {
                console.log(data)
              var orderItems = rowHbsOrderDetail({ orderDetail: data});
              
              $("#orderDetail").html(orderItems);

            });
      }


      var tinhtrangSelect = '<select id="tinhtrangSelect" class="form-control" name="idTT">{{#each tinhtrangs}}'
			+ '<option value="{{idTT}}">'
			+ "{{tinhTrang}}"
			+ "</option>"
			+ "{{/each}}</select>";
		var tinhtrangSelectHbs = Handlebars.compile(tinhtrangSelect); 
		
		 


      var editTemplateStr = '<div class="mb-3">'+
    		 '<input class="form-control" id="orderId"  name="orderId" idProduct="{{orderId}}"  value ="{{orderId}}"  type="hidden">'+
    		'</div>';


        var orderModal = new bootstrap.Modal(
    	        document.getElementById("ttorder"),
    	        {
    	          keyboard: false,
    	        }
    	      );
    				 
    	    	var editHbs = Handlebars.compile(editTemplateStr);
    	    	function bindEvent() {
    	    	    $(".editOrderStatus").click(function() {
    	    	    	
    	    	    	orderModal.show();

    	    	        var id = $(this).attr("c-id");
    	    	        console.log(id);
    	    	        fetch("/api/order/" + id)

    	    	        .then((res) => res.json())
    	    	            .then((order) => {
    	    	                var editHTML = editHbs(order);
    	    	                         fetch("/api/tinhtrang")
    	        	                    .then((res) => res.json())
    	        	                    .then((tinhtrangs) => {
    	        	                        var tinhtrangSelectHtml = tinhtrangSelectHbs({
    	        	                        	tinhtrangs: tinhtrangs,
    	        	                        });
    	        	                        editHTML += '<div class="mb-3">'
    	        						           +	'<label for="tinhtrang" class="form-label"><b>Nhà cung cấp:</b> </label>'
    	        						   		   + tinhtrangSelectHtml;

    	        	                        $("#editorder").html(editHTML);
    	        	                        $("#tinhtrangSelect").val(order.tinhtrang.idTT)
    	        	                        
    	        	                       
    	        	                    }); 
    	    	                    });
    	    	            });
    	        }
    	    	 $("#edits").click(function () {
    	  	        var id = document.getElementById("orderId").value;
    	  	        var order = FormDataJson.toJson(
    	  	          document.querySelector("#ttorder"));
    	  	      order.tinhtrang = {
      	  				idTT: order.idTT
      	  			}
    	  	        var editOption = {
    	  	          method: "PUT",
    	  	          headers: {
    	  	            "Content-Type": "application/json",
                      'Authorization': 'Bearer ' + token
    	  	          },
    	  	          body: JSON.stringify(order),
    	  	        };

    	  	        
    	  	        	order = fetch("/api/order/" + id, editOption)
    	  	            .then((response) => response.json())
    	  	            .then((data) => {
    	  	              console.log(data);
    	  	              loadList();
    	  	            });
                      orderModal.hide();
    	  	        
    	  	      });

                
               
var printModal = new bootstrap.Modal(
    document.getElementById("print-order"), {
        keyboard: false,
    }
);
                 // print

                 var date = new Date();

                 var dateFormat = date.toLocaleString();
                 console.log(dateFormat);
                 
                 var rowTemplateOrderPrint =
                	 
                	 '<div class="tablePrintOrder container border">'+
                 '<div class="row">'+
                     '<div class="col-lg-12"> '+          
                     '<div class="row border" >'+
                         '<div class="col-6 "><img class="img" style="with:50%; height:50%; margin-top: 20px;" src="/asset/img/lg.png"></div>'+
                         '<div class="col-6  text-center "> '+
                         '<h2>Phiếu giao hàng</h3>'+
                         '<p id="date">Ngày tạo:</p>'+
                         '</div>'+
                     '</div>'+
                     '<div class="row border">'+
                        ' <div class="col-6 border-right">'+
                         '<h2>Cửa hàng Đức Phát</h2>'+
                             '<p>Địa chỉ:29 Quang Trung. TT Chư Ty. Đức Cơ. Gia Lai </p>'+
                         '</div>'+               
                         '<div class="col-6 ">'+
                         '<h2>Người Nhận</h2>'+
                             '<p>Tên Người nhận: {{customer.hoten}} </p>'+
                             '<p>Địa chỉ: {{customer.diachi}}</p>'+
                             '<p>Số điện thoại:{{phoneNumber}}</p>'+
                         '</div>'+
                     '</div>'+
                     '<div class="row border">'+
                         '<div class="col-12 ">'+
                     		'<h4>Ghi chú:</h4>'+
                             '<p></p>'+
                             '<div class="row justify-content-center border">'+                      
                                     '<div class="col-9 border-right">'+
                             			'<h2>Tên sản phẩm</h2>'+
                             			"{{#each order_items}}" +
                             	        '<p style = "display:block; font-weight: bold;font-style: oblique;">{{productName}}</p>' +
                             	        "{{/each}}"+
                                         
                                     '</div> '+              
                                     '<div class="col-3 ">'+
                                     '<h2>Số Lượng</h2>'+
                                     "{{#each order_items}}" +
                          	        '<p style = "display:block; font-weight: bold;font-style: oblique;">x {{quantity}}</p>' +
                          	        "{{/each}}"+
                                     '</div>'+ 
                                     '<div class="col-lg-12 border"><p id="total_print" style = "display:block;float:right; font-weight: bold;font-style: oblique;">{{total}}</p></div>'+                     
                             '</div>'+
                         '</div>'+               
                        
                     '</div>'+
                     '</div>'+
                 '</div>'+
             '</div>';
                     
                  var rowHbsOrderPrint = Handlebars.compile(rowTemplateOrderPrint);
                  function clickPrint() {
                      $(".printOrder").click(function () {
                    	  printModal.show();
                        var id = $(this).attr("c-id");
                        console.log(id);

                        var searchOption = {
                        method: "GET",
                        headers: {
                          "Content-Type": "application/json",
                        },
                       
                      };
                        fetch("/api/order/" + id, searchOption)
                          .then((res) => res.json())
                          .then((data) => {
                               var orderPrint = rowHbsOrderPrint(data);
                              
                            $("#printOrder").html(orderPrint);
                            var pricePrint =$("#total_print").html();

                      console.log($("#total_print").html());
                      var priceFormat = pricePrint.replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,');
                            
                      var pr = $("#total_print").text('Tổng tiền: '+priceFormat +'đ');
                      var currentDate = $("#date").text(dateFormat);

                          });
                          
                      });
                      
                    }
                  
                  document.getElementById("btnPrint").onclick = function () {
                	    printElement(document.getElementById("printThis"));
                	}

                	function printElement(elem) {
                	    var domClone = elem.cloneNode(true);
                	    
                	    var $printSection = document.getElementById("printSection");
                	    
                	    if (!$printSection) {
                	        var $printSection = document.createElement("div");
                	        $printSection.id = "printSection";
                	        document.body.appendChild($printSection);
                	    }
                	    
                	   
                	    $printSection.appendChild(domClone);
                	    window.print();
                	}
    </script>
  </body>
</html>
