<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Title -->
<title>Products | Graindashboard UI Kit</title>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">


<link rel="shortcut icon" href="/asset/img/favicon.png">

<link rel="stylesheet"
	href="/asset/dashboard/css/graindashboard.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<style type="text/css">

.error{
    	color: red;
    	font-size: 16px;
    	
    }



#toast {
    visibility: hidden;
    max-width: 50px;
    height: 50px;
    /*margin-left: -125px;*/
    margin: auto;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;

    position: fixed;
    z-index: 1;
    left: 0;right:0;
    bottom: 30px;
    font-size: 17px;
    white-space: nowrap;
}
#toast #img{
	width: 50px;
	height: 50px;
    
    float: left;
    
    padding-top: 16px;
    padding-bottom: 16px;
    
    box-sizing: border-box;

    
    background-color: #111;
    color: #fff;
}
#toast #desc{

    
    color: #fff;
   
    padding: 16px;
    
    overflow: hidden;
	white-space: nowrap;
}

#toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 2s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 4s, fadeout 0.5s 4.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes expand {
    from {min-width: 50px} 
    to {min-width: 350px}
}

@keyframes expand {
    from {min-width: 50px}
    to {min-width: 350px}
}
@-webkit-keyframes stay {
    from {min-width: 350px} 
    to {min-width: 350px}
}

@keyframes stay {
    from {min-width: 350px}
    to {min-width: 350px}
}
@-webkit-keyframes shrink {
    from {min-width: 350px;} 
    to {min-width: 50px;}
}

@keyframes shrink {
    from {min-width: 350px;} 
    to {min-width: 50px;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 60px; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 60px; opacity: 0;}
}

</style>
</head>

<body class="has-sidebar has-fixed-sidebar-and-header">
	<!-- Header -->
	<header class="header bg-body">
        <nav class="navbar flex-nowrap p-0">
          <div class="navbar-brand-wrapper d-flex align-items-center col-auto">
            <!-- Logo For Mobile View -->
            <a class="navbar-brand navbar-brand-mobile" href="/">
              <img
                class="img-fluid w-100"
                src="/asset/img/lg.png"
                alt=""
              />
            </a>
            <!-- End Logo For Mobile View -->
  
            <!-- Logo For Desktop View -->
            <a class="navbar-brand navbar-brand-desktop" href="/">
              <img
                class="side-nav-show-on-closed"
                src="/asset/img/lg.png"
                alt=""
                style="width: 70px; height: 33px"
              />
              <img
                class="side-nav-hide-on-closed"
                src="/asset/img/lg.png"
                alt=""
                style="width: auto; height: 33px"
              />
            </a>
            <!-- End Logo For Desktop View -->
          </div>
  
          <div class="header-content col px-md-3">
            <div class="d-flex align-items-center">
              <!-- Side Nav Toggle -->
              <a
                class="js-side-nav header-invoker d-flex mr-md-2"
                href="#"
                data-close-invoker="#sidebarClose"
                data-target="#sidebar"
                data-target-wrapper="body"
              >
                <i class="gd-align-left"></i>
              </a>
              <!-- End Side Nav Toggle -->
  
              <!-- User Notifications -->
              <div class="dropdown ml-auto">
                <a
                  id="notificationsInvoker"
                  class="header-invoker"
                  href="#"
                  aria-controls="notifications"
                  aria-haspopup="true"
                  aria-expanded="false"
                  data-unfold-event="click"
                  data-unfold-target="#notifications"
                  data-unfold-type="css-animation"
                  data-unfold-duration="300"
                  data-unfold-animation-in="fadeIn"
                  data-unfold-animation-out="fadeOut"
                >
                  <span
                    class="
                      indicator
                      indicator-bordered
                      indicator-top-right
                      indicator-primary
                      rounded-circle
                    "
                  ></span>
                  <i class="gd-bell"></i>
                </a>
  
                <div
                  id="notifications"
                  class="
                    dropdown-menu dropdown-menu-center
                    py-0
                    mt-4
                    w-18_75rem
                    w-md-22_5rem
                    unfold-css-animation unfold-hidden
                  "
                  aria-labelledby="notificationsInvoker"
                  style="animation-duration: 300ms"
                >
                  <div class="card">
                    <div
                      class="
                        card-header
                        d-flex
                        align-items-center
                        border-bottom
                        py-3
                      "
                    >
                      <h5 class="mb-0">Thông báo</h5>
                      <button class="btn btn-outline link small ml-auto" onclick="clearAllNotifi()">Clear All</button>
                    </div>
  
                    <div id="notifi" class="card-body p-0">
                      <div class="list-group list-group-flush">
                        <div class="list-group-item list-group-item-action" th:each="ntn : ${noti}">
                          <div class="d-flex align-items-center text-nowrap mb-2">
                            <i
                              class="gd-info-alt icon-text text-primary mr-2"
                            ></i>
                            <h6 class="font-weight-semi-bold mb-0">Thông báo mới</h6>
                            <span class="list-group-item-date text-muted ml-auto"
                            th:text="${#dates.format(ntn.createdDate, 'dd-MM-yyyy HH:mm')}"></span
                            >
                          </div>
                          <p class="mb-0">
                            Đơn hàng <strong>#[[${ntn.orderId}]]</strong> [[${ntn.description}]].
                          </p>
                          <button class=" btn btn-outline list-group-item-closer text-muted" th:onclick="|deleteByNotifi(${ntn.notificationsId})|"><i class="gd-close"></i
                          ></button>
                        </div>
                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End User Notifications -->
              <!-- User Avatar -->
              <div class="dropdown mx-3 dropdown ml-2">
                <a
                  id="profileMenuInvoker"
                  class="header-complex-invoker"
                  href="#"
                  aria-controls="profileMenu"
                  aria-haspopup="true"
                  aria-expanded="false"
                  data-unfold-event="click"
                  data-unfold-target="#profileMenu"
                  data-unfold-type="css-animation"
                  data-unfold-duration="300"
                  data-unfold-animation-in="fadeIn"
                  data-unfold-animation-out="fadeOut"
                >
                  <!--img class="avatar rounded-circle mr-md-2" src="#" alt="John Doe"-->
                  <span class="mr-md-2 avatar-placeholder">AD</span>
                  <span class="d-none d-md-block">[[${username}]]</span>
                  <i class="gd-angle-down d-none d-md-block ml-2"></i>
                </a>
  
                <ul
                  id="profileMenu"
                  class="
                    unfold unfold-user unfold-light unfold-top unfold-centered
                    position-absolute
                    pt-2
                    pb-1
                    mt-4
                    unfold-css-animation unfold-hidden
                    fadeOut
                  "
                  aria-labelledby="profileMenuInvoker"
                  style="animation-duration: 300ms"
                >
                  <li class="unfold-item unfold-item-has-divider">
                    <button
                      class="btn btn-outline unfold-link d-flex align-items-center text-nowrap"
                      th:onclick="'logout('+ *{customer_id} +')'"
                    >
                      <span class="unfold-item-icon mr-3">
                        <i class="gd-power-off"></i>
                      </span>
                      Đăng xuất
                    </button>
                  </li>
                </ul>
              </div>
              <!-- End User Avatar -->
            </div>
          </div>
        </nav>
      </header>
	<!-- End Header -->

	<main class="main">
		<!-- Sidebar Nav -->
		<aside id="sidebar" class="js-custom-scroll side-nav">
			<ul id="sideNav" class="side-nav-menu side-nav-menu-top-level mb-0">
				<!-- Title -->
				<li class="sidebar-heading h6">Dashboard</li>
				<!-- End Title -->

				<!-- Dashboard -->
				<li class="side-nav-menu-item"><a
					class="side-nav-menu-link media align-items-center" href="/"> <span
						class="side-nav-menu-icon d-flex mr-3"> <i
							class="gd-dashboard"></i>
					</span> <span class="side-nav-fadeout-on-closed media-body">Dashboard</span>
				</a></li>
				<!-- End Dashboard -->

				<!-- Documentation -->
				<li class="side-nav-menu-item"><a
					class="side-nav-menu-link media align-items-center" href="#"
					target="_blank"> <span class="side-nav-menu-icon d-flex mr-3">
							<i class="gd-file"></i>
					</span> <span class="side-nav-fadeout-on-closed media-body">Documentation</span>
				</a></li>
				<!-- End Documentation -->

				<!-- Title -->
				<li class="sidebar-heading h6">Examples</li>
				<!-- End Title -->

				<li
				class="side-nav-menu-item side-nav-has-menu"
			  >
				<a
				  class="side-nav-menu-link media align-items-center"
				  href="#"
				  data-target="#subOrder"
				>
				  <span class="side-nav-menu-icon d-flex mr-3">
					<i class="gd-shopping-cart"></i>
				  </span>
				  <span class="side-nav-fadeout-on-closed media-body">Đặt hàng</span>
				  <span class="side-nav-control-icon d-flex">
					<i class="gd-angle-right side-nav-fadeout-on-closed"></i>
				  </span>
				  <span
					class="side-nav__indicator side-nav-fadeout-on-closed"
				  ></span>
				</a>
	  
				<!-- order: subOrder -->
				<ul
				  id="subOrder"
				  class="side-nav-menu side-nav-menu-second-level mb-0"
				>
				  <li class="side-nav-menu-item">
					<a class="side-nav-menu-link" href="/admin/order"
					  >Danh sách đặt hàng</a
					>
				  </li>
				</ul>
				<!-- End order: subORDER -->
			  </li>

				<!-- Users -->
				<li class="side-nav-menu-item side-nav-has-menu"><a
					class="side-nav-menu-link media align-items-center" href="#"
					data-target="#subUsers"> <span
						class="side-nav-menu-icon d-flex mr-3"> <i class="gd-user"></i>
					</span> <span class="side-nav-fadeout-on-closed media-body">Người dùng</span> <span
						class="side-nav-control-icon d-flex"> <i
							class="gd-angle-right side-nav-fadeout-on-closed"></i>
					</span> <span class="side-nav__indicator side-nav-fadeout-on-closed"></span>
				</a> <!-- Users: subUsers -->
					<ul id="subUsers"
						class="side-nav-menu side-nav-menu-second-level mb-0">
						<li class="side-nav-menu-item "><a class="side-nav-menu-link"
							href="/admin/customer">Khách hàng</a></li>
						<!-- <li class="side-nav-menu-item"><a class="side-nav-menu-link"
							href="nhanvien.html">Nhân Viên</a></li> -->
						<li class="side-nav-menu-item "><a class="side-nav-menu-link"
							href="/admin/user">Người dùng</a></li>
					</ul> <!-- End Users: subUsers --></li>
				<!-- End Users -->

				<!-- Products -->

				<li class="side-nav-menu-item side-nav-has-menu active side-nav-opened"><a
					class="side-nav-menu-link media align-items-center" href="#"
					data-target="#subProducts"> <span
						class="side-nav-menu-icon d-flex mr-3"> <i
							class="gd-package"></i>
					</span> <span class="side-nav-fadeout-on-closed media-body">Sản
							phẩm</span> <span class="side-nav-control-icon d-flex"> <i
							class="gd-angle-right side-nav-fadeout-on-closed"></i>
					</span> <span class="side-nav__indicator side-nav-fadeout-on-closed"></span>
				</a> <!-- Products: subProducts -->
					<ul id="subProducts"
						class="side-nav-menu side-nav-menu-second-level mb-0" style="display: block">
						<li class="side-nav-menu-item active"><a
							class="side-nav-menu-link" href="/admin/product">Sản Phẩm</a></li>
						<li class="side-nav-menu-item"><a class="side-nav-menu-link"
							href="/admin/category">Loại sản phẩm</a></li>
						<li class="side-nav-menu-item"><a class="side-nav-menu-link"
							href="/admin/warehouse-receipt">Hóa đơn</a></li>
					</ul> <!-- End Products: subProducts --></li>

				<!-- End Products -->
				<!-- End Products -->
				<li class="side-nav-menu-item side-nav-has-menu"><a
					class="side-nav-menu-link media align-items-center" href="#"
					data-target="#subCategory"> <span
						class="side-nav-menu-icon d-flex mr-3"> <i class="gd-list"></i>
					</span> <span class="side-nav-fadeout-on-closed media-body">Phân
							phối</span> <span class="side-nav-control-icon d-flex"> <i
							class="gd-angle-right side-nav-fadeout-on-closed"></i>
					</span> <span class="side-nav__indicator side-nav-fadeout-on-closed"></span>
				</a> <!-- category: subcategory -->
					<ul id="subCategory"
						class="side-nav-menu side-nav-menu-second-level mb-0">

						<li class="side-nav-menu-item"><a class="side-nav-menu-link"
							href="/admin/supplier">Nhà cung cấp</a></li>
						<li class="side-nav-menu-item"><a class="side-nav-menu-link"
							href="/admin/trademark">Thương hiệu</a></li>
					</ul> <!-- End category: subCategory --> <!-- End category: subCategory -->
				</li>

			</ul>
		</aside>
		<!-- End Sidebar Nav -->

		<div class="content">
			<div class="py-4 px-3 px-md-4">
				<div class="card mb-3 mb-md-4">

					<div class="card-body">
						<!-- Breadcrumb -->
						<nav class="d-none d-md-block" aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#">Sản phẩm</a></li>
								<li class="breadcrumb-item active" aria-current="page">Sản
									phẩm</li>
							</ol>
						</nav>
						<!-- End Breadcrumb -->

						<div class="mb-3 mb-md-4 d-flex justify-content-between">
							<div class="h3 mb-0">Sản phẩm</div>
						</div>
						<!-- <input id="myInput" type="text" placeholder="Search.."> -->
						<div>
							<form id="searchForm">
								<div class="row">
									<div class="col-lg-3">
									 <input name="ten" class="form-control" type="text" placeholder="Nhập tên sản phẩm cần tìm..."> 
									 <input type="hidden" name="trang" value="0"> 
								</div>
								
								<div class="col-lg-3">
									<select class="form-control" id="sort-item" name="xepTheo">
									<option value="productId">Lọc ID</option>
									<option value="tensanpham">Lọc Tên</option>
									<option value="gia">Lọc Giá</option>
								</select>
								</div>
								<div class="col-lg-3">
									<select class="form-control" id="sort-item" name="thuTu">
									<option value="true">Tăng dần</option>
									<option value="false">Giảm dần</option>
								</select>
								</div>
								<div class="col-lg-3">
									<button class="btn btn-primary" type="button" id="searchBt">Tìm
									kiếm</button>
								</div>
								</div>
							</form>
						</div>

						<button class="btn btn-outline-primary" id="them" style="margin-top: 15px;">
							<b>+ Thêm</b>
						</button>

						<div class="table-responsive-xl">
							<table class="table table-striped  table-sm" id="table">
								<thead>
									<tr>
										<th scope="col">Tên</th>
										<th scope="col">Giá</th>
										<th scope="col">Ngày tạo</th>
										<th scope="col">Ảnh</th>
										<th scope="col">Loại SP</th>
										<th scope="col">Thương hiệu</th>
										<th scope="col">Kuyến mãi</th>
										<th scope="col">Tình trạng</th>
										<th scope="col">Action</th>

									</tr>
								</thead>
								<tbody id="myTable">

								</tbody>
							</table>
							<div style="float: right;"
								class="page-item card-footer d-block d-md-flex align-items-center d-print-none"
								id="phanTrang">
												
								
							</div>
						</div>
						<!-- End Users -->
					</div>
				</div>
			</div>

			<!-- Modal -->
			<div class="modal fade" id="editModal" tabindex="-1"
				aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">

							<h5 class="modal-title" id="exampleModalLabel">
								<b>Thêm sản phẩm</b>
							</h5>

							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<form id="editForm"></form>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								data-dismiss="modal">Close</button>
							<button type="button" class="btn btn-primary" action="" id="save">Thêm</button>

								<button type="button" class="btn btn-primary" action="" id="edit">Sửa</button>
						</div>
					</div>
				</div>
			</div>
			

			
			<!-- Footer -->
			<footer class="small p-3 px-md-4 mt-auto">
				<div class="row justify-content-between">
				  <div class="col-lg text-center text-lg-left mb-3 mb-lg-0">
					<ul class="list-dot list-inline mb-0">
					  <li
						class="
						  list-dot-item list-dot-item-not list-inline-item
						  mr-lg-2
						"
					  >
						<a class="link-dark" href="#">FAQ</a>
					  </li>
					  <li class="list-dot-item list-inline-item mr-lg-2">
						<a class="link-dark" href="#">Support</a>
					  </li>
					  <li class="list-dot-item list-inline-item mr-lg-2">
						<a class="link-dark" href="#">Contact us</a>
					  </li>
					</ul>
				  </div>
		
				  <div class="col-lg text-center mb-3 mb-lg-0">
					<ul class="list-inline mb-0">
					  <li class="list-inline-item mx-2">
						<a class="link-muted" href="https://www.facebook.com/thanhson2112hc"><i class="gd-facebook"></i></a>
					  </li>
					  <li class="list-inline-item mx-2">
						<a class="link-muted" href="https://github.com/sondt2108"><i class="gd-github"></i></a>
					  </li>
					</ul>
				  </div>
		
				  <div class="col-lg text-center text-lg-right">
					&copy; @2021 Team Nocrack
				  </div>
				</div>
			  </footer>
			<!-- End Footer -->
		</div>
	</main>

	<script src="/asset/dashboard/js/graindashboard.js"></script>
	<script src="/asset/dashboard/js/graindashboard.vendor.js"></script> 
	<script src="/asset/dashboard/js/notification.js"></script>
    <script src="/asset/dashboard/js/logout.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
	
    
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
      integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
      crossorigin="anonymous"
    ></script>
    
    <!-- Validation -->
	<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js" integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/additional-methods.min.js" integrity="sha512-XZEy8UQ9rngkxQVugAdOuBRDmJ5N4vCuNXCh8KlniZgDKTvf7zl75QBtaVG1lEhMFe2a2DuA22nZYY+qsI2/xA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="https://cdn.jsdelivr.net/npm/form-data-json-convert/dist/form-data-json.min.js"></script>


	<script type="text/javascript">
	var url = "/api/products";

	var token = sessionStorage.getItem("jwtToken");
		var rowTemplate = "{{#each products}}"
			+"<tr>"
			+       '<td class="py-3 text_over">{{tensanpham}}</td>'
			+       '<td class="py-3" id="price">{{gia}}</td>'
			+       '<td class="py-3 text_over" id="createdDate">{{createdDate}}</td>'
			+'<td class="py-3"><img src="{{hinhanh}}" style="width: 50px; height: 50px" /></td>' 
			+       '<td class="py-3">{{category.name}}</td>'
			+       '<td class="py-3">{{thuonghieu.tenTH}}</td>'
			+       '<td class="py-3">{{khuyenmai}}%</td>'
			+       '<td class="py-3">{{tinhtranghang}}</td>'
			+       '<td class="py-3"><button class="edit btn btn-outline" c-id="{{productId}}"><i class="gd-pencil-alt"></i></button>'
			+ 		'<button class="delete btn btn-outline" c-id="{{productId}}"><i class="gd-trash"></i></button></td>'
			
			+"</tr>"
		+"{{/each}}";
	
		var rowHbs = Handlebars.compile(rowTemplate);

	
//nhà cung cấp 
		 var nhacungcapSelect =
        '<select  id="nhacungcapSelect" class="form-control" name="idNCC">{{#each nhacungcaps}}' +
        '<option value="{{idNCC}}">' +
        "{{tenNCC}}" +
        "</option>" +
        "{{/each}}</select>";

    	var nhacungcapSelectHbs = Handlebars.compile(nhacungcapSelect); 
//category
    	var categorySelect = '<select id="categorySelect" class="form-control" name="categoryId">{{#each categories}}'
			+ '<option value="{{categoryId}}">'
			+ "{{name}}"
			+ "</option>"
			+ "{{/each}}</select>";
		var categorySelectHbs = Handlebars.compile(categorySelect);
	
//thương hiệu
		 var thuonghieuSelect =
		        '<select  id="thuonghieuSelect" class="form-control" name="idTH">{{#each thuonghieus}}' +
		        '<option value="{{idTH}}">' +
		        "{{tenTH}}" +
		        "</option>" +
		        "{{/each}}</select>";

		var thuonghieuSelectHbs = Handlebars.compile(thuonghieuSelect);
// load sản phẩm
		function loadList() {
			
			var searchForm = FormDataJson.toJson(document.querySelector("form"));
			console.log(searchForm);
			var searchOption = {
		        method: 'POST',
		        headers: {
		            'Content-Type': 'application/json',
					'Authorization': 'Bearer ' + token
	          	},
		        body: JSON.stringify(searchForm)
			};
			
			
			fetch("/api/product/search", searchOption).then(res => res.json())
				.then(data => {
					var rows = rowHbs({ products: data.content });
					$("#myTable").html(rows);
					console.log(data);
					bindEvent();
					bindClick();
					formatNumber();
					var pageHtml = "";
					for (var i = 0; i < data.totalPages; i++) {
						pageHtml += `<button style="display: inline-block; margin-left:5px;" value="${i}" id="datatablePagination0" class='${i == searchForm.trang ? "page-link active pageIndex" : "page-link pageIndex"}'>${i+1}</button>`;
					}
					$("#phanTrang").html(pageHtml);
					
					$(".pageIndex").click(function() {
						$('#searchForm input[name="trang"]').val($(this).val());
						loadList();
					});
				});
		}
		loadList();
		
		$("#searchBt").click(function() {
			$('#searchForm input[name="trang"]').val(0);
			loadList();
		});




		
		function formatNumber() {
        $('#myTable tr').each(function() {
    var price = $(this).find("#price").html();
    var priceFormat = price.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')
    var pr = $(this).find("#price").text(priceFormat +'đ');
    
    //date
    var createdDate = $(this).find("#createdDate").html();
    console.log(createdDate);
    var dateFormat = new Date(createdDate);
	console.log(dateFormat);
    var dt = $(this).find("#createdDate").text(dateFormat.toLocaleString());
 });

 
      }
	
//thêm sản phẩm
		var insertModal = new bootstrap.Modal(document.getElementById('editModal'), {
			  keyboard: false
			});
		$("#them").click(function() {
			document.getElementById("edit").style.display = "none";
			document.getElementById("save").style.display = "block";
			insertModal.show();
			// nhà cung cấp
			fetch("/api/nhacungcap", {
				method: 'GET',
				headers: {
		            'Content-Type': 'application/json',
					'Authorization': 'Bearer ' + token
	          	}
			})
			  .then(response => response.json())
			  .then(data => {
				  var nhacungcapSelectHtml = nhacungcapSelectHbs({ nhacungcaps: data });
				  
				  //category
			fetch("/api/categories", {
				method: 'GET',
				headers: {
		            'Content-Type': 'application/json',
					'Authorization': 'Bearer ' + token
	          	}
			})
			  .then(response => response.json())
			  .then(data => {
				  var categorySelectHtml = categorySelectHbs({ categories: data });								  
					  //thương hiệu
					  fetch("/api/thuonghieu", {
						method: 'GET',
						headers: {
							'Content-Type': 'application/json',
							'Authorization': 'Bearer ' + token
						}
					  })
					  .then(response => response.json())
					  .then(data => {
						  var thuonghieuSelectHtml = thuonghieuSelectHbs({ thuonghieus: data });
						  
				  var insertForm = '<div class="mb-3">'
					   
		               +	'<label for="name" class="form-label"><b>Tên sản phẩm:</b></label>'

		  			   +	'<input name="tensanpham" class="form-control" id="tensanpham" oninput="myFunction()" placeholder="Tên sản phẩm">'
					
					   +   '</div>';
						
					insertForm += '<div class="mb-3">'
			           +	'<label for="price" class="form-label"><b>Giá bán:</b></label>'
			  		   +	'<input name="gia" value="" class="form-control" id="price" placeholder="Giá bán">'
					   +   '</div>';
					
					insertForm += '<div class="mb-3">'
			           +	'<label for="picture" class="form-label"><b>Hình ảnh:</b></label>'
					   +'<input type="file" name="imgupload" class="upload" id="${editProp.prop}_file" accept="image/*">'
			+'<input name="hinhanh" placeholder="Hình ảnh" type="hidden" cssClass="form-control" id="pictureInput"/>'
	       +'<img id="imgpr" src="" style="width:25%" />'	
					
					   +   '</div>';
					insertForm += '<div class="mb-3">'

				           		+	'<label for="category" class="form-label"><b>Loại sản phẩm:</b> </label>'
				   				+ categorySelectHtml;

					insertForm += '<div class="mb-3">'
							   +	'<label for="thuonghieu" class="form-label"><b>Thương hiệu: </b></label>'
							   + thuonghieuSelectHtml;
					 
					insertForm += '<div class="mb-3">'
							   +	'<label for="thuonghieu" class="form-label"><b>Nhà cung cấp: </b></label>'
							   + nhacungcapSelectHtml;
					 
					insertForm += '<div class="mb-3">'
						   +	'<label for="soluong" class="form-label"><b>Số lượng</b></label>'
						   +	'<input name="soluong" value="" class="form-control" id="sL" placeholder="Số lượng">'
						   +   '</div>';
					insertForm += '<div class="form-group">'
						   +	'<label for="kM" class="form-label"><b>Khuyến mãi</b></label>'
						   +	'<input name="khuyenmai" class="form-control" placeholder="Khuyến mãi" id="kM">'

						   +   '</div>';
						    insertForm += '<div class="mb-3">'
					           +	'<label for="tT" class="form-label"><b>Tình trạng:</b></label>'
					  		   +	'<input name="tinhtranghang" value="" class="form-control" id="tT" placeholder="Tình trạng">'
								+	'<input  name="seourl" class="form-control" id="seourl" type="hidden">'
							   +   '</div>';
							   insertForm += '<div class="mb-3">'
					           +	'<label for="tT" class="form-label"><b>Thông tin sản phẩm:</b></label>'
					  		   +	'<textarea name="thongtinsp" class="form-control mb-3" rows="3"></textarea>'
							   +   '</div>';
					$("#editForm").html(insertForm);
					
					
					$('.upload').change(function() {
					  
	    uploadFile(this);
	});

					  });

				  });
			  });
		
		});

	uploadFile = async (fileInput) => {
	    let formData = new FormData()
	    formData.append('file', fileInput.files[0]);
	    let uploadOption = {
	        method: 'POST',
	        body: formData
	    };
	    try {
	        let response = await fetch('/upload', uploadOption);
	        if (response.ok) {
	            let uploadResult = await response.json();
	            if (uploadResult.uploaded) {
					$('#pictureInput').val(uploadResult.url);
		            let $img =  $(fileInput).next().next();
		            if ($img.length > 0) {
		                $('#imgpr').attr('src',uploadResult.url);
		            }
		        } else {
		            alert(uploadResult.messsage);
		        }
	        } else {
	            let error = await response.json();
	            alert(error);
	        }
	    } catch(error) {
	        alert(error);
	    }
	}

		function xoa_dau(str) {

				str = str.replace(/à|á|ạ|ả|ã|â|ầ|ấ|ậ|ẩ|ẫ|ă|ằ|ắ|ặ|ẳ|ẵ/g, "a");
				str = str.replace(/è|é|ẹ|ẻ|ẽ|ê|ề|ế|ệ|ể|ễ/g, "e");
				str = str.replace(/ì|í|ị|ỉ|ĩ/g, "i");
				str = str.replace(/ò|ó|ọ|ỏ|õ|ô|ồ|ố|ộ|ổ|ỗ|ơ|ờ|ớ|ợ|ở|ỡ/g, "o");
				str = str.replace(/ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ự|ử|ữ/g, "u");
				str = str.replace(/ỳ|ý|ỵ|ỷ|ỹ/g, "y");
				str = str.replace(/đ/g, "d");
				str = str.replace(/À|Á|Ạ|Ả|Ã|Â|Ầ|Ấ|Ậ|Ẩ|Ẫ|Ă|Ằ|Ắ|Ặ|Ẳ|Ẵ/g, "A");
				str = str.replace(/È|É|Ẹ|Ẻ|Ẽ|Ê|Ề|Ế|Ệ|Ể|Ễ/g, "E");
				str = str.replace(/Ì|Í|Ị|Ỉ|Ĩ/g, "I");
				str = str.replace(/Ò|Ó|Ọ|Ỏ|Õ|Ô|Ồ|Ố|Ộ|Ổ|Ỗ|Ơ|Ờ|Ớ|Ợ|Ở|Ỡ/g, "O");
				str = str.replace(/Ù|Ú|Ụ|Ủ|Ũ|Ư|Ừ|Ứ|Ự|Ử|Ữ/g, "U");
				str = str.replace(/Ỳ|Ý|Ỵ|Ỷ|Ỹ/g, "Y");
				str = str.replace(/Đ/g, "D");

				str = str.replace(/\s+/g, '-');
				str = str.toLowerCase();
				str = str.replace('/', '-');
				str.replace(/\s/g,'-');
				console.log(str);

			return str;
}

function myFunction() {
  			var x = document.getElementById("tensanpham").value;
			var seourl = xoa_dau(x);
  			document.getElementById("seourl").value = seourl;
}



 // Handle Validate
 $(document).ready(function() {
            

            $("#editForm").validate({
                rules: {
                    tensanpham: "required",
                    gia: {
                        required: true,
                        number: true
                    },
					imgupload : {
						required :true
					},
					soluong:{
						required: true,
                        number: true
					},
					khuyenmai:{
						required: true,
                        number: true
					},
					tinhtranghang : "required"
                },
                messages: {
                	tensanpham: "Tên sản phẩm không được để trống",
                    gia: {
                        required: "Giá bán không được để trống",
                        number: "Sai kiểu định dạng giá bán"
                    },

					imgupload :{ required:"Vui lòng chọn hình ảnh"

					},
                    
					soluong :{
						required: "Số lượng không được để trống",
                        number: "Sai kiểu định dạng số lượng"
					},
					khuyenmai :{
						required: "Số lượng không được để trống",
                        number: "Sai kiểu định dạng số lượng"
					},
					tinhtranghang : "Tình trạng hàng không được để trống"
                }
            })
        });


		var x = localStorage.getItem("jwtToken");
	
		$("#save").click(function() {
		
			var products = FormDataJson.toJson(document.querySelector("#editModal"));
			products.category = {
					categoryId: products.categoryId
                }
			 products.nhacungcap = {
					idNCC: products.idNCC
                } 
			products.nhasanxuat = {
					idNSX: products.idNSX
                }
			products.thuonghieu = {
					idTH: products.idTH
                }


				var nameurl = $("#tensanpham").val();
				
				var seourl = xoa_dau(nameurl);
				
				$("#seourl").val(seourl);							

				console.log(products);

				

			var editOption = {
		        method: 'POST',
		        headers: {
		            'Content-Type': 'application/json',
					'Authorization': 'Bearer ' + token
	          	},
		        body: JSON.stringify(products, seourl)
			};

			if ($("#editForm").valid()) {
			products = fetch(url, editOption)
					.then(response => response.json())
					.then(data => {
						console.log(data);
						loadList();
					});
					
					insertModal.hide();
				}
			
			
		});


		$("#edit").click(function() {
			var id = document.getElementById("productId").value;

			var nameurl = $("#tensanpham").val();
			console.log(nameurl);
			
			var seourl = xoa_dau(nameurl);
			
			$("#seourl").val(seourl);							

			console.log(products);
			
		var products = FormDataJson.toJson(document.querySelector("#editModal"));
		products.category = {
				categoryId: products.categoryId
			}
		 products.nhacungcap = {
				idNCC: products.idNCC
			} 
		products.nhasanxuat = {
				idNSX: products.idNSX
			}
		products.thuonghieu = {
				idTH: products.idTH
			}
		var editOption = {
			method: 'PUT',
			headers: {
				'Content-Type': 'application/json',
				'Authorization': 'Bearer ' + token
			  },
			body: JSON.stringify(products, seourl)
		};

		if ($("#editForm").valid()) {
		products = fetch(url + '/' +id, editOption)
				.then(response => response.json())
				.then(data => {
					console.log(data);
					loadList();
				});
			
		insertModal.hide();
			}
		
	});
// thực hiện delete
		function bindEvent() {
			$(".delete").click(function() {
	            var result = confirm("Bạn có chắc chắn muốn xóa sản phẩm này?");
	            if (result == true) {
	            	deleteProducts($(this));
	            } else {
	                return false;
	            }
	        });
		}
		function deleteProducts($button) {
	    var id = $button.attr("c-id");
		
		
			var deleteOption = {
	        method: 'delete',
	        headers: {
	            'Content-Type': 'application/json',
				'Authorization': 'Bearer ' + token
	        }
	    };
	    products = fetch(url + "/" + id, deleteOption)
	        .then(response => {
	            loadList();
	        });

	    
	}
		
// Sửa sản phẩm 
var editTemplateStr = '<div class="mb-3">'
	+'<input class="form-control" id="productId"  name="productId" idProduct="{{productId}}"  value ="{{productId}}" type="hidden">'
             +	'<label for="name" class="form-label"><b>Tên sản phẩm:</b></label>'
			   +	'<input name="tensanpham" value="{{tensanpham}}" class="form-control" id="tensanpham" oninput="myFunction()" placeholder="Tên sản phẩm	">'
			   +   '</div>';
				
			   editTemplateStr += '<div class="mb-3">'
	           +	'<label for="price" class="form-label"><b>Giá bán:</b></label>'
	  		   +	'<input name="gia" value="{{gia}}" class="form-control" id="price" placeholder="Giá bán">'
			   +   '</div>';
			
			   editTemplateStr += '<div class="mb-3">'
	           +	'<label for="picture" class="form-label"><b>Hình ảnh:</b></label>'
			   +'<input type="file" placeholder="{{hinhanh}}" class="upload" id="${editProp.prop}_file" accept="image/*">'
			+'<input name="hinhanh" value={{hinhanh}} placeholder="Hình ảnh" type="hidden" cssClass="form-control" id="pictureInput"/>'
	       +'<img src="{{hinhanh}}" style="width:25%" />'	
			   +   '</div>';
					   editTemplateStr += '<div class="mb-3">'
				   +	'<label for="sL" class="form-label"><b>Số lượng:</b></label>'
				   +	'<input name="soluong" value="{{soluong}}" class="form-control" id="sL" placeholder="Số lượng">'
				   +   '</div>';
				   editTemplateStr += '<div class="form-group">'
				   +	'<label for="kM" class="form-label"><b>Khuyến mãi:</b></label>'
				   +	'<input name="khuyenmai" value="{{khuyenmai}}" class="form-control" id="kM" placeholder="Khuyến mãi" >'
				   +   '</div>';
				   editTemplateStr += '<div class="mb-3">'
			           +	'<label for="tT" class="form-label"><b>Tình trạng:</b></label>'
			  		   +	'<input name="tinhtranghang" value="{{tinhtranghang}}" class="form-control" id="tT" placeholder="Tình trạng">'
						 +	'<input  name="seourl" class="form-control" id="seourl" type="hidden">'
					   +   '</div>';
					   editTemplateStr += '<div class="mb-3">'
					           +	'<label for="tT" class="form-label"><b>Thông tin sản phẩm:</b></label>'
					  		   +	'<textarea name="thongtinsp" class="form-control mb-3" rows="3">{{thongtinsp}}</textarea>'
							   +   '</div>';
			 
    	var editHbs = Handlebars.compile(editTemplateStr);
    	function bindClick() {
    	    $(".edit").click(function() {
				document.getElementById("save").style.display = "none";
				document.getElementById("edit").style.display = "block";
    	        insertModal.show();

    	        var id = $(this).attr("c-id");
    	        fetch(url + "/" + id)

    	        .then((res) => res.json())
    	            .then((products) => {
    	                var editHTML = editHbs(products);
    	                
   //fetch nhà cùng cấp
    	                         fetch("/api/nhacungcap", {
									method: 'GET',
									headers: {
										'Content-Type': 'application/json',
										'Authorization': 'Bearer ' + token
									}
								 })
        	                    .then((res) => res.json())
        	                    .then((nhacungcaps) => {
        	                        var nhacungcapSelectHtml = nhacungcapSelectHbs({
        	                        	nhacungcaps: nhacungcaps,
        	                        });
        	                        editHTML += '<div class="mb-3">'
        						           +	'<label for="nhacungcap" class="form-label"><b>Nhà cung cấp:</b> </label>'
        						   		   + nhacungcapSelectHtml;

        	                        $("#editForm").html(editHTML);
        	                        $("#nhacungcapSelect").val(products.nhacungcap.idNCC)
        	                        
   //fetch categories
        	             fetch("/api/categories", {
							method: 'GET',
							headers: {
								'Content-Type': 'application/json',
								'Authorization': 'Bearer ' + token
							}
						 })
    	                    .then((res) => res.json())
    	                    .then((categories) => {
    	                        var categorySelectHtml = categorySelectHbs({
    	                            categories: categories,
    	                        });
    	                        editHTML +=  '<div class="mb-3">'
    				           		+	'<label for="category" class="form-label"><b>Loại sản phẩm:</b> </label>'
    				   				+  categorySelectHtml;

    	                        $("#editForm").html(editHTML);
    	                        $("#categorySelect").val(products.category.categoryId)
    	                        
   
 //fetch thường hiệu                     
        	               fetch("/api/thuonghieu", {
								method: 'GET',
								headers: {
									'Content-Type': 'application/json',
									'Authorization': 'Bearer ' + token
								}
						   })
        	                    .then((res) => res.json())
        	                    .then((thuonghieus) => {
        	                        var thuonghieuSelectHtml = thuonghieuSelectHbs({
        	                        	thuonghieus: thuonghieus,
        	                        });
        	                        editHTML +=  '<div class="mb-3">'
        								   +	'<label for="thuonghieu" class="form-label"><b>Thương hiệu: </b></label>'
        								   +  thuonghieuSelectHtml;

        	                        $("#editForm").html(editHTML);
        	                        $("#thuonghieuSelect").val(products.thuonghieu.idTH)
									$("#nhacungcapSelect").val(products.nhacungcap.idNCC)
        	                        $("#categorySelect").val(products.category.categoryId)
									$('.upload').change(function() {
					 
	    uploadFile(this);
	});
        	                    });
        	                    }); 
        	                    }); 
    	                    });
    	                
    	                	
    	            });
    	    
    	
        }

		

        </script>
	
	
	
</body>
</html>