<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Chart</title>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">

<link rel="shortcut icon" href="/asset/img/favicon.png">

<link rel="stylesheet"
	href="/asset/dashboard/css/graindashboard.css">
<link rel="stylesheet"
	href="/asset/dashboard/css/thongke.css">
<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/highcharts-3d.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>
	<script src="https://code.highcharts.com/modules/series-label.js"></script>
	<script src="https://code.highcharts.com/modules/export-data.js"></script>
	<script src="https://code.highcharts.com/modules/accessibility.js"></script>
	
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="/asset/dashboard/js/tkTheoNgay.js"></script>
<script type="text/javascript" src="/asset/dashboard/js/tkThangTong.js"></script>
</head>
<body class="has-sidebar has-fixed-sidebar-and-header">

	<header class="header bg-body">
        <nav class="navbar flex-nowrap p-0">
          <div class="navbar-brand-wrapper d-flex align-items-center col-auto">
            <!-- Logo For Mobile View -->
            <a class="navbar-brand navbar-brand-mobile" href="/">
              <img
                class="img-fluid w-100"
                src="/asset/img/lg.png"
                alt=""
              />
            </a>
            <!-- End Logo For Mobile View -->
  
            <!-- Logo For Desktop View -->
            <a class="navbar-brand navbar-brand-desktop" href="/">
              <img
                class="side-nav-show-on-closed"
                src="/asset/img/lg.png"
                alt=""
                style="width: 70px; height: 33px"
              />
              <img
                class="side-nav-hide-on-closed"
                src="/asset/img/lg.png"
                alt=""
                style="width: auto; height: 33px"
              />
            </a>
            <!-- End Logo For Desktop View -->
          </div>
  
          <div class="header-content col px-md-3">
            <div class="d-flex align-items-center">
              <!-- Side Nav Toggle -->
              <a
                class="js-side-nav header-invoker d-flex mr-md-2"
                href="#"
                data-close-invoker="#sidebarClose"
                data-target="#sidebar"
                data-target-wrapper="body"
              >
                <i class="gd-align-left"></i>
              </a>
              <!-- End Side Nav Toggle -->
  
              <!-- User Notifications -->
              <div class="dropdown ml-auto">
                <a
                  id="notificationsInvoker"
                  class="header-invoker"
                  href="#"
                  aria-controls="notifications"
                  aria-haspopup="true"
                  aria-expanded="false"
                  data-unfold-event="click"
                  data-unfold-target="#notifications"
                  data-unfold-type="css-animation"
                  data-unfold-duration="300"
                  data-unfold-animation-in="fadeIn"
                  data-unfold-animation-out="fadeOut"
                >
                  <span
                    class="
                      indicator
                      indicator-bordered
                      indicator-top-right
                      indicator-primary
                      rounded-circle
                    "
                  ></span>
                  <i class="gd-bell"></i>
                </a>
  
                <div
                  id="notifications"
                  class="
                    dropdown-menu dropdown-menu-center
                    py-0
                    mt-4
                    w-18_75rem
                    w-md-22_5rem
                    unfold-css-animation unfold-hidden
                  "
                  aria-labelledby="notificationsInvoker"
                  style="animation-duration: 300ms"
                >
                  <div class="card">
                    <div
                      class="
                        card-header
                        d-flex
                        align-items-center
                        border-bottom
                        py-3
                      "
                    >
                      <h5 class="mb-0">Thông báo</h5>
                      <button class="btn btn-outline link small ml-auto" onclick="clearAllNotifi()">Clear All</button>
                    </div>
  
                    <div id="notifi" class="card-body p-0">
                      <div class="list-group list-group-flush">
                        <div class="list-group-item list-group-item-action" th:each="ntn : ${noti}">
                          <div class="d-flex align-items-center text-nowrap mb-2">
                            <i
                              class="gd-info-alt icon-text text-primary mr-2"
                            ></i>
                            <h6 class="font-weight-semi-bold mb-0">Thông báo mới</h6>
                            <span class="list-group-item-date text-muted ml-auto"
                            th:text="${#dates.format(ntn.createdDate, 'dd-MM-yyyy HH:mm')}"></span
                            >
                          </div>
                          <p class="mb-0">
                            Đơn hàng <strong>#[[${ntn.orderId}]]</strong> [[${ntn.description}]].
                          </p>
                          <button class=" btn btn-outline list-group-item-closer text-muted" th:onclick="|deleteByNotifi(${ntn.notificationsId})|"><i class="gd-close"></i
                          ></button>
                        </div>
                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End User Notifications -->
              <!-- User Avatar -->
              <div class="dropdown mx-3 dropdown ml-2">
                <a
                  id="profileMenuInvoker"
                  class="header-complex-invoker"
                  href="#"
                  aria-controls="profileMenu"
                  aria-haspopup="true"
                  aria-expanded="false"
                  data-unfold-event="click"
                  data-unfold-target="#profileMenu"
                  data-unfold-type="css-animation"
                  data-unfold-duration="300"
                  data-unfold-animation-in="fadeIn"
                  data-unfold-animation-out="fadeOut"
                >
                  <!--img class="avatar rounded-circle mr-md-2" src="#" alt="John Doe"-->
                  <span class="mr-md-2 avatar-placeholder">AD</span>
                  <span class="d-none d-md-block">[[${username}]]</span>
                  <i class="gd-angle-down d-none d-md-block ml-2"></i>
                </a>
  
                <ul
                  id="profileMenu"
                  class="
                    unfold unfold-user unfold-light unfold-top unfold-centered
                    position-absolute
                    pt-2
                    pb-1
                    mt-4
                    unfold-css-animation unfold-hidden
                    fadeOut
                  "
                  aria-labelledby="profileMenuInvoker"
                  style="animation-duration: 300ms"
                >
                  <li class="unfold-item unfold-item-has-divider">
                    <button
                      class="btn btn-outline unfold-link d-flex align-items-center text-nowrap"
                      th:onclick="'logout('+ *{customer_id} +')'"
                    >
                      <span class="unfold-item-icon mr-3">
                        <i class="gd-power-off"></i>
                      </span>
                      Đăng xuất
                    </button>
                  </li>
                </ul>
              </div>
              <!-- End User Avatar -->
            </div>
          </div>
        </nav>
      </header>
	
	<main class="main">
		<!-- Sidebar Nav -->
		<aside id="sidebar" class="js-custom-scroll side-nav">
			<ul id="sideNav" class="side-nav-menu side-nav-menu-top-level mb-0">
				<!-- Title -->
				<li class="sidebar-heading h6">Dashboard</li>
				<!-- End Title -->

				<!-- Dashboard -->
				<li class="side-nav-menu-item active"><a
					class="side-nav-menu-link media align-items-center" href="/"> <span
						class="side-nav-menu-icon d-flex mr-3"> <i
							class="gd-dashboard"></i>
					</span> <span class="side-nav-fadeout-on-closed media-body">Dashboard</span>
				</a></li>
				<!-- End Dashboard -->

				<!-- Documentation -->
				<li class="side-nav-menu-item"><a
					class="side-nav-menu-link media align-items-center" href="#"
					target="_blank"> <span class="side-nav-menu-icon d-flex mr-3">
							<i class="gd-file"></i>
					</span> <span class="side-nav-fadeout-on-closed media-body">Documentation</span>
				</a></li>
				<!-- End Documentation -->

				<!-- Title -->
				<li class="sidebar-heading h6">Examples</li>
				<!-- End Title -->

				<li
				class="side-nav-menu-item side-nav-has-menu"
			  >
				<a
				  class="side-nav-menu-link media align-items-center"
				  href="#"
				  data-target="#subOrder"
				>
				  <span class="side-nav-menu-icon d-flex mr-3">
					<i class="gd-shopping-cart"></i>
				  </span>
				  <span class="side-nav-fadeout-on-closed media-body">Đặt hàng</span>
				  <span class="side-nav-control-icon d-flex">
					<i class="gd-angle-right side-nav-fadeout-on-closed"></i>
				  </span>
				  <span
					class="side-nav__indicator side-nav-fadeout-on-closed"
				  ></span>
				</a>
	  
				<!-- order: subOrder -->
				<ul
				  id="subOrder"
				  class="side-nav-menu side-nav-menu-second-level mb-0"
				>
				  <li class="side-nav-menu-item">
					<a class="side-nav-menu-link" href="/admin/order"
					  >Danh sách đặt hàng</a
					>
				  </li>
				</ul>
				<!-- End order: subORDER -->
			  </li>

				<!-- Users -->
				<li class="side-nav-menu-item side-nav-has-menu"><a
					class="side-nav-menu-link media align-items-center" href="#"
					data-target="#subUsers"> <span
						class="side-nav-menu-icon d-flex mr-3"> <i class="gd-user"></i>
					</span> <span class="side-nav-fadeout-on-closed media-body">Người dùng</span> <span
						class="side-nav-control-icon d-flex"> <i
							class="gd-angle-right side-nav-fadeout-on-closed"></i>
					</span> <span class="side-nav__indicator side-nav-fadeout-on-closed"></span>
				</a> <!-- Users: subUsers -->
					<ul id="subUsers"
						class="side-nav-menu side-nav-menu-second-level mb-0">
						<li class="side-nav-menu-item "><a class="side-nav-menu-link"
							href="/admin/customer">Khách hàng</a></li>
						<!-- <li class="side-nav-menu-item"><a class="side-nav-menu-link"
							href="nhanvien.html">Nhân Viên</a></li> -->
						<li class="side-nav-menu-item "><a class="side-nav-menu-link"
							href="/admin/user">Người dùng</a></li>
					</ul> <!-- End Users: subUsers --></li>
				<!-- End Users -->

				<!-- Products -->

				<li class="side-nav-menu-item side-nav-has-menu "><a
					class="side-nav-menu-link media align-items-center" href="#"
					data-target="#subProducts"> <span
						class="side-nav-menu-icon d-flex mr-3"> <i
							class="gd-package"></i>
					</span> <span class="side-nav-fadeout-on-closed media-body">Sản
							phẩm</span> <span class="side-nav-control-icon d-flex"> <i
							class="gd-angle-right side-nav-fadeout-on-closed"></i>
					</span> <span class="side-nav__indicator side-nav-fadeout-on-closed"></span>
				</a> <!-- Products: subProducts -->
					<ul id="subProducts"
						class="side-nav-menu side-nav-menu-second-level mb-0">
						<li class="side-nav-menu-item"><a class="side-nav-menu-link"
							href="/admin/product">Sản Phẩm</a></li>
						<li class="side-nav-menu-item"><a class="side-nav-menu-link"
							href="/admin/category">Loại sản phẩm</a></li>
						<li class="side-nav-menu-item"><a class="side-nav-menu-link"
							href="/admin/warehouse-receipt">Hóa đơn</a></li>
					</ul> <!-- End Products: subProducts --></li>

				<!-- End Products -->
				<li class="side-nav-menu-item side-nav-has-menu"><a
					class="side-nav-menu-link media align-items-center" href="#"
					data-target="#subCategory"> <span
						class="side-nav-menu-icon d-flex mr-3"> <i class="gd-list"></i>
					</span> <span class="side-nav-fadeout-on-closed media-body">Phân
							phối</span> <span class="side-nav-control-icon d-flex"> <i
							class="gd-angle-right side-nav-fadeout-on-closed"></i>
					</span> <span class="side-nav__indicator side-nav-fadeout-on-closed"></span>
				</a> <!-- category: subcategory -->
					<ul id="subCategory"
						class="side-nav-menu side-nav-menu-second-level mb-0">

						<li class="side-nav-menu-item"><a class="side-nav-menu-link"
							href="/admin/supplier">Nhà cung cấp</a></li>
						<li class="side-nav-menu-item"><a class="side-nav-menu-link"
							href="/admin/trademark">Thương hiệu</a></li>
					</ul> <!-- End category: subCategory --> <!-- End category: subCategory -->
				</li>

			</ul>
		</aside>
		<!-- End Sidebar Nav -->
		
		<div class="container chartRender">
		
		
		<section class="tkthang-lg">
		<div class="tkthang col-lg-12">
		<div class="row reportx">
			<div class="col-lg-3">
				<span class="">Năm : </span> <select
					class="custom-select" name="year" id="year">
				</select>
			</div>

			<div class="col-lg-3">
				<span> Tổng tiền nhập : <strong
					id="tiennhap"></strong>
				</span>
			</div>
			<div class="col-lg-3">
				<span> Tổng tiền xuất: <strong
					id="tienxuat"></strong>
				</span>
			</div>
			<div class="col-lg-3">
				<span> Lãi: <strong
					id="lai"></strong>
				</span>
			</div>
		</div>
		<div id="containerChart" >
				<figure class="highcharts-figure">
					<p class="highcharts-description"></p>
				</figure>
			</div>
	</div>
	</section>
	
		<article>
		<div class="tkngay col-lg-12">
		<div class="abc">
			<span class="">Ngày : </span>
			<input type="date" class="chonngay" name="dateChoose" id="datePicker">
		</div>

		<P id="msg"></P>
		<div id="chartContainer" class="mt-4" data-aos="fade-up"></div>
		</div>
		</article>
		
		
		</div>
	</main>

	<footer class="small p-3 px-md-4 mt-auto">
		<div class="row justify-content-between">
		  <div class="col-lg text-center text-lg-left mb-3 mb-lg-0">
			<ul class="list-dot list-inline mb-0">
			  <li
				class="
				  list-dot-item list-dot-item-not list-inline-item
				  mr-lg-2
				"
			  >
				<a class="link-dark" href="#">FAQ</a>
			  </li>
			  <li class="list-dot-item list-inline-item mr-lg-2">
				<a class="link-dark" href="#">Support</a>
			  </li>
			  <li class="list-dot-item list-inline-item mr-lg-2">
				<a class="link-dark" href="#">Contact us</a>
			  </li>
			</ul>
		  </div>

		  <div class="col-lg text-center mb-3 mb-lg-0">
			<ul class="list-inline mb-0">
			  <li class="list-inline-item mx-2">
				<a class="link-muted" href="https://www.facebook.com/thanhson2112hc"><i class="gd-facebook"></i></a>
			  </li>
			  <li class="list-inline-item mx-2">
				<a class="link-muted" href="https://github.com/sondt2108"><i class="gd-github"></i></a>
			  </li>
			</ul>
		  </div>

		  <div class="col-lg text-center text-lg-right">
			&copy; @2021 Team Nocrack
		  </div>
		</div>
	  </footer>
	
	<script src="/asset/dashboard/js/graindashboard.js"></script>
	<script src="/asset/dashboard/js/graindashboard.vendor.js"></script> 
	<script src="/asset/dashboard/js/notification.js"></script>
    <script src="/asset/dashboard/js/logout.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
      integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
      crossorigin="anonymous"
    ></script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script type="text/javascript">
	var currentYear = new Date().getFullYear();
	var year = currentYear +1;
	var yearOso = 2018;

	var y = 1;


	loadYear(currentYear, yearOso );

	function loadYear(currentYear, yearOso ) {
		for (i = year; i > yearOso; i--) {
			year =  year -  y;
			$('#year').append('<option value="' + year + '">' + year + '</option>');
			console.log(currentYear);
	}

	}
	</script>
</body>
</html>