

.service-block {
    border: 1px solid #ebebeb;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 15px;
}

.sidebar-content {
    margin-bottom: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

.service-item {
    text-align: center;
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid #ebebeb;
}

.item-top {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    margin-bottom: 5px;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
}

.slg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #e8e8e8;
    background-color: #fff;
    display: inline-block;
    *display: inline;
    zoom: 1;
    text-align: center;
    line-height: 50px;
    -ms-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    overflow: hidden;
    position: relative;
}

.slglogo {
    -ms-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    -webkit-filter: grayscale(1) invert(1);
    filter: grayscale(1) invert(1);
    max-width: 35px;
    position: relative;
    top: -2px;
}

.title {
    display: block;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    color: #363f4d;
}

.caption {
    font-weight: normal;
    margin-bottom: 0;
    color: #363f4d;
    font-size: 13px;
}

figure.zoom {
    background-position: 70% 70%;
    position: relative;
    overflow: hidden;
    cursor: zoom-in;
}
figure.zoom img:hover {
    opacity: 0;
}
figure.zoom img {
    transition: opacity 0.5s;
    display: block;
    width: 100%;
}