.service-block {
	border: 1px solid #ebebeb;
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 15px;
}

.sidebar-content {
	margin-bottom: 0;
	padding-top: 20px;
	padding-bottom: 20px;
}

.service-item {
	text-align: center;
	padding-bottom: 25px;
	margin-bottom: 25px;
	border-bottom: 1px solid #ebebeb;
}

.item-top {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;
	margin-bottom: 5px;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
}

.slg {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 1px solid #e8e8e8;
	background-color: #fff;
	display: inline-block;
	*display: inline;
	zoom: 1;
	text-align: center;
	line-height: 50px;
	-ms-transition: all 500ms ease;
	-webkit-transition: all 500ms ease;
	transition: all 500ms ease;
	overflow: hidden;
	position: relative;
}

.slglogo {
	-ms-transition: all 500ms ease;
	-webkit-transition: all 500ms ease;
	transition: all 500ms ease;
	-webkit-filter: grayscale(1) invert(1);
	filter: grayscale(1) invert(1);
	max-width: 35px;
	position: relative;
	top: -2px;
}

.title {
	display: block;
	width: 100%;
	font-size: 16px;
	font-weight: 500;
	color: #363f4d;
}

.caption {
	font-weight: normal;
	margin-bottom: 0;
	color: #363f4d;
	font-size: 13px;
}

figure.zoom {
	background-position: 70% 70%;
	position: relative;
	overflow: hidden;
	cursor: zoom-in;
}

figure.zoom img:hover {
	opacity: 0;
}

figure.zoom img {
	transition: opacity 0.5s;
	display: block;
	width: 100%;
}

/* Rating */

/*  11:32:08 04/12/2021 */


* {
	margin: 0;
	padding: 0
}

img {
	border: 0
}

a {
	text-decoration: none;
	transition: .2s;
	color: #288ad6
}

ul, ol {
	list-style: none
}

.clr {
	clear: both
}

.clearfix {
	display: block
}

.clearfix:after {
	content: "";
	display: block;
	clear: both
}

body, input, button, option, textarea, label, select, legend, h1, h2, h3,
	h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	font: 14px/18px Arial, Helvetica, sans-serif;
	color: #333;
	outline: none
}

p {
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	text-rendering: geometricPrecision
}

input[type=text], input[type=tel], textarea {
	-webkit-appearance: none
}



section {
	width: 100%;
	max-width: 1200px;
	margin: auto
}



.relative {
	position: relative !important
}

.hide {
	display: none !important
}

.disabled {
	pointer-events: none !important
}

.preloader.preall {
	position: fixed
}










.rating__title {
	font-weight: bold;
	font-size: 18px;
	line-height: 20px
}

.rating-star {
	align-items: flex-start;
	display: flex;
	margin: 25px 0 20px
}

.rating-star .point {
	color: #fe8c23;
	font-weight: bold;
	font-size: 22px;
	line-height: 27px;
	margin-top: 2px
}

.rating-img {
	padding: 0 0 20px
}

.rating-left {
	border-right: 1px solid #f1f1f1;
	position: relative;
	padding: 0 20px 10px 10px;
	text-align: center;
	width: 38.2%
}

.rating-top {
	align-items: center;
	display: flex;
	margin-bottom: 15px;
	margin-top: -10px
}

.rating-total {
	color: #333;
	font-size: 14px;
	line-height: 17px;
	margin-top: 4px
}

.list-star {
	margin: 0 8px
}

.rating-list li {
	align-items: center;
	display: flex;
	margin-bottom: 7px
}

.rating-list li:last-child {
	margin-bottom: 0
}

.rating-list .number-star {
	font-size: 12px;
	line-height: 14px;
	text-align: left;
	width: 25px
}

.rating-list .number-star i {
	margin-top: -4px
}

.rating-list .number-percent {
	color: #2f80ed;
	font-size: 12px;
	font-weight: bold;
	line-height: 15px;
	padding-left: 10px;
	text-align: left;
	width: 35px;
	cursor: pointer
}

.rating-list .number-percent.dsp {
	color: #666
}

.rating-list .timeline-star {
	background-color: #eee;
	height: 4px;
	position: relative;
	width: calc(100% - 60px)
}

.rating-list .timing {
	background-color: #fe8c23;
	left: 0;
	height: 4px;
	position: absolute;
	top: 0
}

.rating-list .timing67 {
	width: 67%
}

.rating-list .timing23 {
	width: 23%
}

.rating-list .timing7 {
	width: 7%
}

.rating-list .timing1 {
	width: 1%
}

.rating-list .timing2 {
	width: 2%
}

.rating-img-list {
	display: flex;
	position: relative
}

.rating-img-list li {
	cursor: pointer;
	line-height: 0;
	margin-right: 5px
}

.rating-img-list li:first-child {
	margin-left: 0
}

.rating-img-list li:last-child {
	position: relative
}

.rating-img-list img {
	width: 109px;
	height: 109px;
	border-radius: 5px;
	object-fit: cover
}

.rating-img-ttl {
	font-size: 16px;
	font-weight: bold;
	line-height: 22px;
	margin-bottom: 20px
}

.rating-img-rd {
	align-items: center;
	background-color: rgba(0 0 0/ .76);
	color: #fff;
	display: flex;
	font-size: 13px;
	justify-content: center;
	height: 100%;
	line-height: 16px;
	left: 0;
	position: absolute;
	text-align: center;
	top: 0;
	width: 100%;
	border-radius: 5px;
	padding: 0 5px
}

.rating-circle {
	padding: 0 18px;
	width: 61.8%
}

.rating-circle-ttl {
	line-height: 17px;
	margin-bottom: 15px
}

.rating-circle-ttl em {
	font-style: normal;
	font-weight: bold
}

.rating-circle-card {
	border-radius: 4px;
	display: flex;
	justify-content: center;
	overflow: hidden;
	position: relative;
	text-align: center;
	transition: .3s
}

.rating-circle-card .item-cart {
	position: relative;
	width: 20%
}

.rating-circle-card svg {
	height: 50px;
	position: relative;
	transform: rotate(-87deg);
	width: 50px;
	z-index: 1
}

.rating-circle-card circle {
	fill: none;
	height: 100%;
	transform: translate(5px, 5px);
	stroke: #eee;
	stroke-width: 5;
	z-index: 1;
	width: 100%
}

.rating-circle-card svg circle:nth-child(2) {
	animation: progress 2s ease-out forwards;
	-webkit-animation: progress 2s ease-out forwards;
	stroke-dasharray: 125;
	stroke-dashoffset: 125
}

.rating-circle-card .number {
	border-radius: 50%;
	font-size: 12px;
	line-height: 14px;
	left: 1px;
	position: absolute;
	top: 18px;
	width: 100%
}

.rating-circle-card .txt {
	font-size: 12px;
	line-height: 14px
}

.rating-search {
	margin-top: 15px;
	position: relative;
	width: 260px
}

.rating-search i {
	position: absolute;
	top: 7px;
	left: 10px
}

.rating-search input {
	border: 1px solid #ddd;
	border-radius: 5px;
	color: #666;
	height: 32px;
	padding: 8px 10px 8px 35px;
	width: 100%
}

.rating-viewall {
	border-left: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
	display: block;
	margin: 0;
	width: 30%
}

.rating-viewall .rating-left {
	align-items: center;
	border: none;
	display: flex;
	justify-content: center;
	margin: 0 auto;
	width: 60%
}

.rating-viewall .rating-left .point {
	margin-right: 15px
}

.rating-viewall .rating-left::before {
	display: none
}

.rating-viewall .rating-right {
	margin: 0 auto;
	padding: 0;
	width: 55%
}

.rating-viewall .rating-circle {
	width: 39.5%
}

.rating-circle-viewall {
	padding-left: 30px
}

.rating-circle-viewall .item-cart {
	margin: 0 6px;
	padding: 0;
	width: 80px
}

.rating-circle-viewall .rating-circle-card {
	justify-content: flex-start
}

.frames-detail .comment-btn__item {
	margin: 15px auto 0;
	padding: 8px 5px
}

.rating-img-viewall .rating-img-list li {
	max-width: 125px;
	margin-right: 10px
}

.comment__item .click-use.act .info-buying {
	display: block
}

.comment__item .click-use:hover .info-buying {
	display: block
}

.info-buying {
	background-color: #ebebeb;
	bottom: 27px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, .12);
	border-radius: 4px;
	color: #333;
	display: none;
	padding: 20px 15px 15px;
	position: absolute;
	right: -5px;
	width: 290px
}

.info-buying::before {
	border-style: solid;
	bottom: -17px;
	border-color: #ebebeb transparent transparent transparent;
	border-width: 9px;
	content: '';
	position: absolute;
	right: 6px
}

.info-buying-txt {
	display: flex;
	justify-content: center
}

.info-buying .txtitem {
	text-align: center
}

.info-buying .txtitem:first-child {
	margin-right: 80px
}

.txtitem .txt01, .txtitem .txtdate {
	font-size: 12px;
	line-height: 16px
}

.txtitem .txt01 {
	color: #666
}

.txtitem .txtdate {
	font-weight: bold
}

.info-buying .timeline-txt {
	font-size: 12px;
	line-height: 16px;
	margin-top: 10px;
	text-align: center
}

.info-buying .timeline-txt span {
	font-weight: bold
}

.length-using {
	background-color: #c4c4c4;
	height: 1px;
	margin: 10px auto 0;
	position: relative;
	width: 190px
}

.length-percent {
	background-color: #999;
	height: 3px;
	position: relative;
	top: -1px
}

.length-using::before {
	border-top: 1px solid #c4c4c4;
	border-right: 1px solid #c4c4c4;
	content: '';
	height: 6px;
	position: absolute;
	transform: rotate(45deg);
	top: -3px;
	right: 0;
	width: 6px
}

.length-percent::before, .length-percent::after {
	background-color: #53b859;
	border-radius: 50%;
	content: '';
	height: 8px;
	position: absolute;
	top: -3px;
	width: 8px
}

.length-percent::before {
	left: 0
}

.length-percent::after {
	right: 0
}

.info-buying-list {
	margin-top: 15px
}

.info-buying-list li {
	color: #666;
	font-size: 12px;
	line-height: 17px;
	margin-bottom: 5px
}

.info-buying-list li span {
	background-color: #666;
	border-radius: 50%;
	display: inline-block;
	height: 4px;
	margin: 6px 6px 0 0;
	vertical-align: top;
	width: 4px
}

.info-buying-close {
	background-color: #333;
	border: 2px solid #fff;
	border-radius: 50%;
	box-shadow: 0 2px 4px rgba(0, 0, 0, .12);
	height: 25px;
	position: absolute;
	top: -10px;
	right: -10px;
	width: 25px
}

.info-buying-close::before, .info-buying-close:after {
	background-color: #fff;
	content: '';
	height: 13px;
	left: 9px;
	position: absolute;
	top: 4px;
	width: 2px
}

.info-buying-close::before {
	transform: rotate(45deg)
}

.info-buying-close::after {
	transform: rotate(-45deg)
}

.comment__item {
	border-bottom: 1px solid #f1f1f1;
	padding: 15px 0
}

.comment__item .txtname, .comment__item .tickbuy {
	display: inline-block;
	vertical-align: middle
}

.comment__item .txtname {
	font-weight: bold;
	margin-right: 8px;
	text-transform: capitalize
}

.comment__item .tickbuy {
	color: #2ba832;
	font-size: 12px;
	line-height: 14px
}

.comment__item {
	margin-top: 5px
}

.childC__item {
	border-top: none;
	border-left: 4px solid #efefef;
	margin-left: 10px;
	padding-left: 10px;
	box-sizing: border-box
}

.comment .txtname, .comment .tickbuy {
	display: inline-block;
	vertical-align: middle
}

.comment .txtname {
	font-weight: bold;
	margin-right: 8px;
	text-transform: capitalize
}

.comment .tickbuy {
	color: #2ba832;
	font-size: 12px;
	line-height: 14px
}
.comment-star, .intro-future {
	display: inline-block;
	vertical-align: middle
}

.intro-future {
	font-size: 13px;
	margin-left: 15px;
	padding-top: 5px
}

.intro-future i {
	margin: -1px 2px 0 0
}

.comment-content {
	margin-top: 10px
}

.comment-content .cmt-txt {
	font-size: 14px;
	line-height: 20px
}

.comment-content .cmt-img {
	cursor: pointer;
	display: inline-block;
	margin-right: 8px;
	margin-top: 10px;
	vertical-align: top
}

.comment-content .cmt-img img {
	width: 125px;
	height: 125px;
	object-fit: cover;
	border-radius: 5px
}

.comment-content.noimg .cmt-txt {
	padding-right: 0;
	width: 100%;
	white-space: pre-line
}

.comment-content .hideRtCt {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 7;
	overflow: hidden;
	text-overflow: ellipsis
}

.comment__item .qtv {
	background: #f1c40f;
	color: #333;
	font-size: 11px;
	padding: 3px;
	margin-left: 10px
}

.comment .item-click {
	margin-top: 10px
}

.comment .click-like, .comment .click-cmt {
	color: #2f80ed;
	font-size: 13px;
	margin-right: 5px
}

.comment .click-use {
	border-left: 1px solid #e0e0e0;
	color: #999;
	font-size: 12px;
	padding-left: 5px;
	position: relative
}

.comment .support {
	background-color: #e8f1fb;
	font-size: 12px;
	line-height: 25px;
	margin-top: 5px;
	padding: 4px 5px;
	position: relative
}

.comment .support::before {
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 14px solid #e8f1fb;
	content: '';
	left: 5px;
	position: absolute;
	top: -6px;
	z-index: -1
}

.comment__item .support {
	background-color: #e8f1fb;
	display: inline-block;
	font-size: 12px;
	line-height: 17px;
	margin-top: 5px;
	padding: 8px 10px;
	position: relative
}

.comment__item .support::before {
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 14px solid #e8f1fb;
	content: '';
	left: 5px;
	position: absolute;
	top: -6px;
	z-index: -1
}

.comment-btn {
	display: flex;
	padding: 15px 10px
}

.comment-btn__item {
	border: 1px solid #2f80ed;
	border-radius: 4px;
	color: #2f80ed;
	display: block;
	line-height: 17px;
	margin-left: 3%;
	padding: 11px 5px;
	text-align: center;
	width: 48.5%
}

.comment-btn__item:first-child {
	margin-left: 0
}

.comment-btn__item.blue {
	background-color: #2f80ed;
	color: #fff
}

.selStr {
	margin: 10px 0 5px;
	cursor: pointer
}

.selStr span {
	margin-right: 10px;
	vertical-align: middle
}

.lbMsgRt {
	color: #f00;
	display: block;
	margin: 10px 0
}

.ratingLst .reply {
	margin-top: 12px;
	width: 100%
}

.ratingLst .reply input {
	border: 1px solid #ddd;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	font-size: 14px;
	color: #999;
	padding: 5px;
	width: 75%
}

.ratingLst .reply .rrSend {
	padding: 6px 10px;
	border: 1px solid #288ad6;
	background: #fff;
	font-size: 13px;
	color: #288ad6;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px
}

.ratingLst .ifrl {
	margin: 10px 0 0;
	color: #ccc;
	width: 100%
}

.ratingLst .ifrl span {
	color: #333
}

.ratingLst .ifrl a {
	color: #288ad6
}

.read-assess {
	background-color: #fff;
	border-radius: 8px;
	left: 50%;
	position: fixed;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 13;
	overflow-y: scroll;
	max-height: 90vh
}

.read-assess.showR {
	display: block
}

.read-assess__top {
	border-bottom: 1px solid #e0e0e0;
	padding: 25px 20px 15px 45px
}

.read-assess-main {
	padding: 0 45px
}

.read-assess__title {
	font-weight: bold;
	line-height: 20px
}

.read-assess-close {
	position: absolute;
	top: 16px;
	right: 20px
}

.read-assess .txt01 {
	width: 270px
}

.read-assess .ul-star {
	display: flex;
	justify-content: center;
	margin-left: 50px;
	width: 270px
}

.read-assess .ul-star li {
	cursor: pointer;
	margin: 0 6px;
	text-align: center;
	width: 45px
}

.read-assess .ul-star p {
	font-size: 12px;
	line-height: 14px;
	margin-top: 8px
}

.read-assess .ul-star p.active-slt {
	color: #fe8c23;
	font-weight: bold
}

.read-assess .textarea {
	border: 1px solid #bdbdbd;
	border-radius: 4px
}

.read-assess .textarea-bottom {
	border-top: 1px solid #bdbdbd;
	font-size: 0;
	padding: 11px 10px
}

.read-assess-form {
	margin-top: 10px
}

.read-assess-form textarea {
	background-color: #fff;
	border-radius: 4px 4px 0 0;
	border: none;
	color: #666;
	height: 67px;
	padding: 10px;
	width: 100%
}

.read-assess .send-img, .read-assess .mintext {
	display: inline-block;
	vertical-align: middle
}

.read-assess .send-img {
	color: #2f80ed;
	font-size: 14px;
	line-height: 20px;
	width: 65%
}

.read-assess .send-img i {
	margin: -3px 4px 0 0
}

.read-assess .resRtImg {
	background-color: #efefef;
	padding: 10px;
	margin: 5px -10px -7px
}

.read-assess .resRtImg li {
	display: inline-block;
	margin-right: 10px
}

.read-assess .resRtImg li img {
	width: 60px;
	height: 60px;
	display: block;
	border-radius: 5px;
	object-fit: cover
}

.read-assess .resRtImg li span {
	width: 100%;
	text-align: center;
	font-size: 12px;
	background-color: #fff;
	display: block;
	color: #288ad6
}

.read-assess .mintext {
	color: #666;
	display: inline-block;
	font-size: 12px;
	line-height: 14px;
	text-align: right;
	width: 35%
}

.read-assess .txt-agree {
	cursor: pointer;
	line-height: 20px;
	margin: 15px 0;
	position: relative;
	padding-left: 22px
}

.read-assess .txt-agree.selected span::before, .read-assess .txt-agree.selected span::after
	{
	background-color: #2f80ed;
	border-radius: 30px;
	bottom: 1px;
	content: '';
	position: absolute;
	width: 2px
}

.read-assess .txt-agree.selected span::before {
	height: 7px;
	left: 3px;
	transform: rotate(-35deg)
}

.read-assess .txt-agree.selected span::after {
	height: 12px;
	left: 8px;
	transform: rotate(38deg)
}

.read-assess .txt-agree span {
	border: 1px solid #666;
	border-radius: 3px;
	display: inline-block;
	left: 0;
	height: 16px;
	position: absolute;
	top: 2px;
	width: 16px
}

.ul-orslt li {
	border-bottom: 1px solid #e0e0e0;
	padding: 10px 0
}

.ul-orslt li:last-child {
	border: none
}

.ul-orslt .li-left {
	color: #000;
	font-weight: 500;
	float: left;
	line-height: 20px;
	padding-right: 15px;
	width: calc(100% - 142px)
}

.ul-orslt .li-right {
	font-size: 0;
	float: right
}

.list-input {
	font-size: 0;
	margin-bottom: 20px;
	display: flex
}

.input-assess {
	border: 1px solid #bdbdbd;
	border-radius: 4px;
	color: #666;
	height: 40px;
	line-height: 20px;
	margin-right: 12px;
	padding: 10px;
	flex: auto
}

.input-assess:last-child {
	margin-right: 0
}

.btn-assess {
	border: 1px solid #bdbdbd;
	border-radius: 16px;
	color: #333;
	display: inline-block;
	font-size: 14px;
	line-height: 14px;
	padding: 8px 5px;
	text-align: center;
	width: 68px
}

.btn-assess:last-child {
	margin-left: 6px
}

.btn-assess.checkact {
	background-color: #e8f1fb;
	border: 1px solid #2f80ed;
	color: #2f80ed
}

.submit-assess {
	background-color: #2f80ed;
	border: none;
	border-radius: 4px;
	color: #fff;
	cursor: pointer;
	display: block;
	margin: 0 auto;
	padding: 11px 10px;
	width: 215px;
	text-align: center
}

.assess-txtbt {
	font-size: 12px;
	padding: 15px 0;
	text-align: center
}

.assess-txtbt a {
	color: #2f80ed;
	font-size: 13px
}

.select-star {
	display: flex;
	margin: 20px 0 0
}

.owl-nav button {
	background: rgba(255, 255, 255, .9) !important;
	height: 60px;
	width: 30px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 2
}

.rating {
    overflow: hidden;
    border-bottom: 1px solid #f1f1f1;
}

.icondetail-blackstar {
	background-position: -290px 0;
	height: 8px;
	width: 8px
}