.thumb-wrapper {
	padding: 25px 15px;
	background: #fff;
	border-radius: 6px;
	text-align: center;
	position: relative;
	box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}

.product-item-name {
    margin: 0 0 7px;
    font-weight: 500;
    font-size: 14px;
    height: 50px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.special-price .price {
    font-size: 14px;
    color: #C90036;
    font-weight: bold;
    font-family: SFUFUturaBook;
}

.old-price {
    display: inline-block;
    margin-left: 10px;
    text-decoration: line-through;
}

.price-box .old-price .price {
    font-size: 0.875em;
    color: #a4a4a4;
    text-decoration: line-through;
    font-family: SFUFUturaBook;
    font-weight: bold;
}

.sale {
    background: #9acf6a;
    box-shadow: none;
    border-radius: 3px;
    color: #fff;
    font-size: 0.714em;
    font-weight: 400;
    font-family: SFUFUturaBook;
    left: 0;
    line-height: 22px;
    min-height: auto;
    min-width: auto;
    padding: 0 10px;
    position: absolute;
    text-align: center;
    text-shadow: none;
    text-transform: uppercase;
    top: 0;
    z-index: 9;
}

.mainmenu {
    height: auto;
    color: #323c3f;
    cursor: pointer;
}

.mainmenu span {
    display: block;
    position: relative;
    padding: 7px 10px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 15px;
    color: #fff;
    border: 1px solid #5a7b68;
    background-color: #057C40;
}

.mainmenu .nav-cate {
    border: 1px solid #ebebeb;
    border-top: none;
}

.mainmenu .nav-cate ul {
    width: 100%;
    overflow: visible;
    border-top: none;
}

.mainmenu .nav-cate ul li.dropdown {
    position: static;
}

.mainmenu .nav-cate ul li {
    display: block;
    overflow: visible;
    padding: 5px 10px;
    cursor: pointer;
}

.mainmenu .nav-cate ul li h3 {
    position: relative;
    display: block;
    color: #000;
    line-height: 20px;
    padding: 5.7px 0;
    margin: 0;
    font-size: 14px;
    font-weight: normal;
}

.mainmenu .nav-cate ul li h3 img {
    max-width: 22px;
    float: left;
    margin-right: 5px;
}

.mainmenu .nav-cate ul li h3 a {
    display: block;
    font-size: 14px;
    color: #000;
    padding-left: 27px;
    padding-right: 15px;
}

.mainmenu .nav-cate ul li h3 a i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(0, -50%);
}

.mainmenu .nav-cate ul li+li {
    border-top: 1px dashed #ebebeb;
}