.slideshow-container {
    position: relative;
    margin: auto;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
 
  
  /* Caption text */
  .text {
    color: black;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: black;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .activeDot, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
   
    animation-name: fade;
    
  }

  .categories-tab {
      position: absolute;
      right: .1px;
      top: 10px;
  }

  .nav-link {
    display: block;
     padding: 5px;; 
}

.mobile {
  margin-top: 3rem;
  display: inline;
}

  
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
    .slideshow-container {margin-top: 100px;}
    
  }

  @media only screen and (max-width: 768px) {
    .slideshow-container {margin-top: 50px;}
    .categories-tab {
        position: absolute;
        margin-top: 50px;
        top: 0px;
        display: block;
        left: 2rem;
      }
      
    .mobile {
        margin-top: 7rem;
    }
    
    .card {
      margin: 0 auto;
    }

    .filter_sort {
    display: none;
  
  }

 
  }


  @media only screen and (min-width: 768px) {
    .filter_sort_mobile {
      display: none;
    
    }
    
  }