
    <div class="container">
        <div class="row">
          <div class="card border-white">
          <div class="table-responsive">
            
            <table class="table table-borderless table-shopping-cart">
            <thead class="text-muted">
              <tr class="small text-uppercase">
              <th scope="col" width="350">Sản Phẩm</th>
              <th
                scope="col"
                width="200"
                style="text-align: center"
              >
                Số Lượng
              </th>
              <th
                scope="col"
                class="text-center"
                width="150"
                style="text-align: center"
              >
                Đơn Giá
              </th>
              <th
                scope="col"
                class="text-center"
                width="150"
                style="text-align: center"
              >
                Tổng tiền
              </th>
              <th
                scope="col"
                class="text-center"
                width="150"
                style="text-align: center"
              >
                Action
              </th>
              
              </tr>
            </thead>
            <tbody id="cart-data">
              <th:block th:each="cart : ${cart.chiTietGioHang}">
              <tr>
              <td>
                <figure class="itemside align-items-center">
                <div class="aside">
                  <img
                  th:src="${cart.key.hinhanh}"
                 style="width: 80%; height: 80%;"
                  />
                </div>
                <figcaption class="info">
                  <p href="#" class="title-ten" data-abc="true">
                    [[${cart.key.tensanpham}]]
                  </p>
                  
                </figcaption>
                </figure>
              </td>
              <td class="quantity-sl input-group">
                <button
                type="button"
                class="quantity-left-minus btn"
                data-type="minus"
                data-field=""
                th:onclick="'truSP('+ *{cart.key.productId} +')'"
                th:disabled="${cart.value <= 1}"
                >
                <i class="fa-gh fa fa-minus"></i>
                </button>
                <input
                            id="onchangeQuantityCart"
                              type="number"
                              th:name="${cart.key.productId}"
                              class="form-control"
                              th:value="${cart.value}"
                              min="1"
                              max="10"
                              style="text-align: center"
                            />  
                <button
                type="button"
                class="quantity-right-plus btn"
                data-type="plus"
                data-field=""
                th:onclick="'congSP('+ *{cart.key.productId} +')'"
                >
                <i class="fa-gh fa fa-plus"></i>
                </button>
              </td>
              <td>
                <div class="price-wrap">
                <var class="price" th:text="${#numbers.formatDecimal(cart.key.gia, 0, 'COMMA', 0, 'POINT')}"></var>
                </div>
              </td>
              <td>
                <div class="price-wrap" th:with="sum=${cart.value * cart.key.gia}">
                <var class="price" th:text="${#numbers.formatDecimal(sum, 0, 'COMMA', 0, 'POINT')}"></var>
                </div>
              </td>
              <td>
                <div class="price-wrap d-flex justify-content-center"><button th:onclick="'xoaSP('+ *{cart.key.productId} +')'"
                class="btn quantity-left-minus1" style="margin-top: 20px;" >
                Xoá
                </button></div>
                </td>
              </tr>
              </th:block>
            </tbody>
            </table>
            <hr>
            <div class="col-lg-12">
              <div class="row">
                <div class="col-lg-6">
                  <button class="btn btn-link" title="Tiếp tục mua hàng" th:onclick="'popupCartHide()'"><span><span><i class="fa fa-caret-left" aria-hidden="true"></i> Tiếp tục mua hàng</span></span></button>
                   </div>
                
                <div class="col-lg-6">
                  <p style="float: right;">Thành tiền: <span style="color: red;" th:text="${#numbers.formatDecimal(total, 0, 'COMMA', 0, 'POINT')}"></span>  </p>
                  </div>
              </div>
              
            </div>
            <div class="col-lg-12">
              <a href="/checkout" class="primary-btn" style="float: right;" >Thanh toán</a>
            </div>
          </div>
          </div>
        </div>
        </div>
        
      <script>
        var qtt = document.querySelectorAll('#onchangeQuantityCart');

        qtt.forEach(function(inp) {
  inp.addEventListener("change", updateValue)});

function updateValue(e) {

  var quantity = e.target.value;
  var productId = e.target.name;
console.log(quantity);
if (quantity == "" || quantity <= 0) {
  quantity = 1;
}
console.log(productId);
  fetch("/cart/addCartByInput/" + productId+"/" + quantity)
    .then((response) => response.text())
    .then((data) => {
      $("#table-content").html(data);
      $("#quantityPr").load(location.href + " #quantityPr");
    });
}
      </script>


        