<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Đức Phát | Thiết bị điện</title>

    <link rel="shortcut icon" href="/asset/img/favicon.png">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css'>
   
    <!-- Css Styles -->
    <link rel="stylesheet" href="/asset/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/asset/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/asset/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/asset/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/asset/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/asset/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/asset/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/asset/css/style.css" type="text/css">
    <link rel="stylesheet" href="/asset/css/slideshow.css">
    <link rel="stylesheet" href="/asset/css/login-register.css">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.0.8/popper.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js'></script>

    <style>
        .map-container{
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
}
.map-container iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}
    </style>

</head>

<body>
    <!-- header -->
    <th:block th:replace="fragments :: header">

    </th:block>
    <!-- end header -->

    <section>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li>Trang chủ > Liên hệ</li>
                    </ul>
                </div>
            </div>
        </div>


    </section>

   <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12" style="margin-top: 50px;">
                    <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 500px">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3874.4279764500848!2d107.70404831470462!3d13.813320599586799!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x316c37878bfcaf55%3A0xf573f096b032db8d!2zQuG6v24geGUgS2jDoWNoIMSQ4buoQyBDxqA!5e0!3m2!1svi!2s!4v1634635020271!5m2!1svi!2s" frameborder="0"
                          style="border:0" allowfullscreen></iframe>
                      </div>
                </div>
            
            </div>
            <div class="row">
                <div class="col-md-5 order-md-1 mb-4" style=" border-radius: 10px;">
                    <div class="grid-items">
                        <div class="grid-item grid-item-top-2-1-1">
                            <div class="module module-info_blocks module-info_blocks-194">
                                <div class="module-body">
                                    <br>
                                    <div class="module-item module-item-1 info-blocks info-blocks-icon">
                                        <div class="info-block">
                                            <div class="d-flex justify-content-between row">
                                                <div class="col-4" style="color: #27408B; font-size: 28px; line-height: 50px; border-radius: 10px;">ĐỨC PHÁT</div>
                                                <div class="my-0 col-8" style="color: #27408B; font-size: 16px;">29 Quang Trung. TT Chư Ty. Đức Cơ. Gia Lai <br> ( đối diện bùng binh bến xe ĐỨC CƠ )</div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <form class="needs-validation">
                                        <ul class="list-group mb-3">
                                            <li class="list-group-item justify-content-between">
                                                <div class="row">
                                                    <div class="donhang col-md-1" style="text-align: center; line-height: 40px;"></div>
                                                    <div class="col-md-11">
                                                        <h6 class="my-0">Số điện thoại</h6>
                                                        <span class="text-muted">0968.544.270</span>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="list-group-item justify-content-between">
                                                <div class="row">
                                                    <div class="donhang col-md-1" style="text-align: center; line-height: 40px;"></div>
                                                    <div class="col-md-11">
                                                        <h6 class="my-0">Email</h6>
                                                        <span class="text-muted">Ducphat29qt@gmail.com</span>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="list-group-item justify-content-between">
                                                <div class="row">
                                                    <div class="donhang col-md-1" style="text-align: center; line-height: 40px;"></div>
                                                    <div class="col-md-11">
                                                        <h6 class="my-0">Zalo</h6>
                                                        <span class="text-muted">0968.544.270</span>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="list-group-item justify-content-between">
                                                <div class="row">
                                                    <div class="donhang col-md-1" style="text-align: center; line-height: 40px;"><i class="fas fa-user-clock fa-lg" style="color: #27408B;"></i></div>
                                                    <div class="col-md-11">
                                                        <h6 class="my-0">THỜI GIAN LÀM VIỆC</h6>
                                                        <span class="text-muted">Thời gian làm việc: 9:00 - 21:00</span>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-7 order-md-2">
                    <div class="grid-items">
                        <div class="grid-item grid-item-top-2-2-1">
                            <div class="module module-form module-form-20">
                                <br>
                                <div class="module-body">
                                    <form enctype="multipart/form-data" class="form-horizontal">
                                        <fieldset>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label text-muted" for="field-616e8a43bc07c-1">Họ và tên</label>
                                                <div class="col-sm-12">
                                                    <input type="text" name="item[1]" value="" placeholder="" id="field-616e8a43bc07c-1" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label text-muted" for="field-616e8a43bc07c-2">Email</label>
                                                <div class="col-sm-12">
                                                    <input type="email" name="item[2]" value="" placeholder="" id="field-616e8a43bc07c-2" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label text-muted" for="field-616e8a43bc07c-4">Thông tin</label>
                                                <div class="col-sm-12">
                                                    <textarea name="item[4]" rows="2" placeholder="" id="field-616e8a43bc07c-4" class="form-control"></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-12 control-label text-muted">
                                                <input type="checkbox" name="agree" value="1">
                                                Tôi đã đọc và đồng ý với <a class="fancybox" href="#" alt="Chính sách bảo mật"><b>Chính sách bảo mật</b></a>
                                            </label>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <button type="submit" class="btn btn-primary form-control"><span>Xác nhận</span></button>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer Section Begin -->
    <th:block th:replace="fragments :: footer">

    </th:block>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    
   
    <script src="/asset/js/jquery-3.3.1.min.js"></script>
    <script src="/asset/js/bootstrap.min.js"></script>
    <script src="/asset/js/jquery.nice-select.min.js"></script>
    <script src="/asset/js/jquery-ui.min.js"></script>
    <script src="/asset/js/jquery.slicknav.js"></script>
    <script src="/asset/js/mixitup.min.js"></script>
    <script src="/asset/js/owl.carousel.min.js"></script>
    <script src="/asset/js/main.js"></script>
    <script src="/asset/js/slideshow.js"></script>
   




</body>

</html>