<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Simple responsive owl carousel</title>
	<link rel="stylesheet" type="text/css" href="/asset/css/owl.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.0.8/popper.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
</head>
<body>
	<main>
		<div class="text">
			<h1>Simple Single carousel</h1>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam non atque adipisci est, recusandae aperiam, ullam minima quos nostrum animi voluptas sequi. At repellendus fuga reiciendis accusantium, dolor suscipit repellat?
			</p>
		</div>
		<header>
			<h1>Top Hottest Products</h1>
			<p>
				<span>&#139;</span>
				<span>&#155;</span>
			</p>
		</header>
		<section>
			<div class="pr" id="products">
				
			</div>
			
		</section>
	</main>

</body>
</html>
<script type="text/javascript" src="/asset/js/owl.js"></script>