<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Đức Phát | Thiết bị điện</title>

    <!-- Google Font -->
    <link rel="shortcut icon" href="/asset/img/favicon.png">
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css'>
   
    <!-- Css Styles -->
    <link rel="stylesheet" href="/asset/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/asset/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/asset/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/asset/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/asset/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/asset/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/asset/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/asset/css/style.css" type="text/css">
    <link rel="stylesheet" href="/asset/css/slideshow.css">
    <link rel="stylesheet" href="/asset/css/login-register.css">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.0.8/popper.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js'></script>

</head>

<body>
    <th:block th:replace="fragments :: header">

    </th:block>

    <section>
        <div class="container">
            <div class="row my-5 justify-content-center">
              <div class="col-lg-6 col-md-8 col-sm-10 h-100 mt-4 py-3">
                <div class="login p-1">
                  <div class="text-center">
                    <h4 class="title-head">Quên mật khẩu</h4>
                  </div>
                  <form id="forgotpasswordForm">
                    <div class="card-body">
                        <div id="showerror"></div>
                        <div class="form-group">
                            <label class="title-email"><i class="icdangki fa fa-envelope"></i>Email<span
                  class="required">*</span></label>
                            <input type="text" class="form-control" name="email" id="email_input" placeholder="Email" />
                        </div>
                        
                        <div class="pt-3 text-center">
                          <button type="submit" class="btn-dn btn" value="Đăng nhập"  id="forgotpasswordbtn">
                            Xác nhận
                          </button>
                        </div>
                      </div>
                </form>
                          <hr class="md-4" />
                          <div class="text-center">
                              <p>
                                  Bạn chưa có tài khoản. Đăng ký
                                  <a href="/register" class="title-dk">tại đây.</a>
                              </p>
                          </div>
                      </div>
                  </div>
              </div>
              </div>
    </section>


    
    <div id="back-top">
        <a title="Go to Top" href="#"> <i class="fa fa-angle-double-up"></i></a>
    </div>


    <div class="modal fade" tabindex="-1" role="dialog" id="loginErrorModal">
        <div class="modal-dialog">
           <div class="modal-content">
              <div class="modal-header">
                <span class="modal-title">Lỗi!</span>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
                 
              </div>
              <div class="modal-body"></div>
              <div class="modal-footer">
                 <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
           </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
     </div><!-- /.modal -->

    
    

 <!-- Footer Section Begin -->
 <th:block th:replace="fragments :: footer">

</th:block>
<!-- Footer Section End -->

    <!-- Js Plugins -->
    
   
    <script src="/asset/js/jquery-3.3.1.min.js"></script>
    <script src="/asset/js/bootstrap.min.js"></script>
    <script src="/asset/js/jquery.nice-select.min.js"></script>
    <script src="/asset/js/jquery-ui.min.js"></script>
    <script src="/asset/js/jquery.slicknav.js"></script>
    <script src="/asset/js/mixitup.min.js"></script>
    <script src="/asset/js/owl.carousel.min.js"></script>
    <script src="/asset/js/main.js"></script>
    <script src="/asset/js/slideshow.js"></script>
    <script src="/asset/js/api/signup-sigin.js"></script>
     <!-- Validation -->
     <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
     <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>




</body>

</html>