<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Đức Phát | Thiết bị điện</title>
    <style>
     
    </style>

    <!-- Google Font -->
    <link rel="shortcut icon" href="/asset/img/favicon.png">
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css'>

    <link rel="stylesheet" href="/asset/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/asset/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/asset/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/asset/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/asset/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/asset/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/asset/css/style.css" type="text/css">
    <link rel="stylesheet" href="/asset/css/slideshow.css">
    <link rel="stylesheet" href="/asset/css/index.css">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    
  </head>

  <body>
    <!-- header -->
    <th:block th:replace="fragments :: header">

    </th:block>
    <!-- end header -->

    <section>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li>Trang chủ > Giới thiệu</li>
                    </ul>
                </div>
            </div>
        </div>

    </section>
    
 <!-- GIỚI THIỆU -->
 <div class="container">
    <div class="row ">
        <div class="col-12 text-center">
            <a class="text_GT" style=" font-size: 40px;
            font-family: 'Source Sans 3', sans-serif;">VỀ CHÚNG TÔI</a>
        </div>
        <div class="col-12 text-center" style="margin-top:50px">
            <img src="/asset/img/lg.png" alt="">
        </div>
        <div class="col-6" style="margin-top:20px">
            <img src="/asset/img/ducphat2.jpg" alt="">
        </div>
        <div class="col-6" style="margin-top:20px">
            <p style="font-size: 25px; font-family: 'Source Sans 3', sans-serif;text-align: center; color: rgb(0, 0, 0)">ĐIỆN NƯỚC ĐỨC PHÁT</p>
            <p style="text-align: justify; color: rgb(0, 0, 0); text-indent: 50px;letter-spacing: 2px;">Cửa hàng Điện nước Đức Phát chính thức đưa vào hoạt động từ ngày 20/9/2019.Trong những năm qua, Cửa hàng điên nước Đức Phát bằng năng lực hiện có nhân sự và trang thiết bị, các sản phẩm do cửa hàng bán đều được người dân đánh giá cao về
                chất lượng của từng sản phẩm củng như các chế độ bảo hành của cửa hàng Doanh thu chính của cửa hàng tập trung vào một số ngành nghề như: mua bán vật tư thiết bị điện, bán buôn vật liệu, thiết bị lắp đặt khác trong xây dựng .. Doanh
                thu chủ yếu thu được trong năm 2020 là từ hoạt động bán các trang thiết bị điện nước. Doanh nghiệp sử dụng phương thức bán hàng là bán buôn và bán lẻ. Phương thức bán hàng chủ yếu trong năm 2020 là phương thức bán buôn
            </p>
        </div>
        <div class="col-6" style="margin-top:20px">
            <p style="font-size: 25px; font-family: 'Source Sans 3', sans-serif;text-align: center; color: rgb(0, 0, 0)">LĨNH VỰC HOẠT ĐỘNG CỦA CỬA HÀNG</p>
            <p style="font-family: 'Source Sans 3', sans-serif;text-align: justify;color: rgb(0, 0, 0) ;text-indent: 50px;letter-spacing: 2px;">
                Cửa hàng điện nước Đức Phát hoạt động theo Giấy phép đăng ký kinh doanh số: 3918013162 do Phòng Đăng ký kinh doanh thuộc Sở Kế hoạch và đầu tư Tỉnh Gia Lai cấp.
            </p>
            <p style="font-family: 'Source Sans 3', sans-serif;color: rgb(0, 0, 0) ;margin-left: 40px;letter-spacing: 2px;">Mua bán vật tư thiết bị điện, nước</p>
            <p style="font-family: 'Source Sans 3', sans-serif;color: rgb(0, 0, 0) ;margin-left: 40px;letter-spacing: 2px;">Mua bán vật liệu trang trí nội thất, ngoại thấtc</p>
            <p style="font-family: 'Source Sans 3', sans-serif;color: rgb(0, 0, 0) ;margin-left: 40px;letter-spacing: 2px;">Bán buôn vật liệu, thiết bị lắp đặt khác trong xây dựng.</p>
        </div>
        <div class="col-6" style="margin-top:20px">
            <img src="/asset/img/ducphat4.jpg" alt="">
        </div>

        <div class="col-12  text-center" style="margin-top:40px;font-size: 25px; font-family: 'Source Sans 3', sans-serif;text-align: center; color: rgb(0, 0, 0)"><a>GIÁ TRỊ CỐT LÕI</a></div>
        <div class="col-4" style="margin-top:40px;">
            <div class=" box_icon " style="border-radius: 50%;background: #FFF;width: 200px;height: 200px;text-align: center;margin-left: 90px; ">
                <img style="margin-top: 40px; " src="/asset/img/icon1.png " alt=" ">
            </div>
            <p style="font-size: 20px; font-family: 'Source Sans 3', sans-serif;text-align: center; color: rgb(0, 0, 0) ">1. CHẤT LƯỢNG HÀNG ĐẦU</p>
            <p style="text-align: justify; color: rgb(0, 0, 0); text-indent: 30px;letter-spacing: 2px; ">ĐỨC PHÁT luôn đề cao an toàn sức khỏe cho người sử dụng. Với mong muốn đó Đức Phát luôn luôn cung cấp những sản phẩm với chất lượng tốt nhất tới với người tiêu dùng .</p>

        </div>
        <div class="col-4 " style="margin-top:40px;">
            <div class="box_icon " style="border-radius: 50%;background: #FFF;width: 200px;height: 200px;text-align: center;margin-left: 70px; ">
                <img style="margin-top: 50px; " src="/asset/img/icon2.png " alt=" ">
            </div>
            <p style="font-size: 20px; font-family: 'Source Sans 3', sans-serif;text-align: center; color: rgb(0, 0, 0) ">2. DỊCH VỤ THÂN THIỆN & CHUYÊN NGHIỆP</p>
            <p style="text-align: justify; color: rgb(0, 0, 0); text-indent: 30px;letter-spacing: 2px; ">ĐỨC PHÁT mong muốn làm hài lòng khách hàng tốt nhất với tác phong phục vụ chuyên nghiệp và thân thiện, luôn lắng nghe những đóng góp và ý kiến của khách hàng.</p>
        </div>
        <div class="col-4 " style="margin-top:40px;">
            <div class="box_icon " style="border-radius: 50%;background: #FFF;width: 200px;height: 200px;text-align: center;margin-left: 90px; ">
                <img style="margin-top: 40px; " src="/asset/img/icon3.png " alt=" ">
            </div>
            <p style="font-size: 20px; font-family: 'Source Sans 3', sans-serif;text-align: center; color: rgb(0, 0, 0) ">3. THƯƠNG HIỆU ĐÁNG TIN CẬY</p>
            <p style="text-align: justify; color: rgb(0, 0, 0); text-indent: 30px;letter-spacing: 2px; ">Dựa trên hai nền tảng cốt lõi là Chất Lượng và Dịch Vụ, ĐỨC PHÁT luôn nỗ lực xây dựng và duy trì hình ảnh thương hiệu đáng tin cậy trong mắt khách hàng.</p>
        </div>


    </div>
</div>
<!-- END GIỚI THIỆU -->
    

    

    <div id="back-top">
      <a title="Go to Top" href="#"> <i class="fa fa-angle-double-up"></i></a>
    </div>

    <!-- Footer Section Begin -->
    <th:block th:replace="fragments :: footer">

    </th:block>
    <!-- Footer Section End -->

  

    <!-- Js Plugins -->

    <script src="/asset/js/api/product.js"></script> 
    <script src="/asset/js/api/category.js"></script>

    <script src="/asset/js/jquery-3.3.1.min.js"></script>
    <script src="/asset/js/bootstrap.min.js"></script>
    <script src="/asset/js/jquery.nice-select.min.js"></script>
    <script src="/asset/js/jquery-ui.min.js"></script>
    <script src="/asset/js/jquery.slicknav.js"></script>
    <script src="/asset/js/mixitup.min.js"></script>
    <script src="/asset/js/owl.carousel.min.js"></script>
    <script src="/asset/js/main.js"></script>
    <script src="/asset/js/slideshow.js"></script>

  </body>
</html>
