<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Đức Phát | Thiết bị điện</title>
    <style>
     
    </style>

    <!-- Google Font -->
    <link rel="shortcut icon" href="/asset/img/favicon.png">
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css'>

    <link rel="stylesheet" href="/asset/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/asset/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/asset/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/asset/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/asset/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/asset/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/asset/css/style.css" type="text/css">
    <link rel="stylesheet" href="/asset/css/slideshow.css">
    <link rel="stylesheet" href="/asset/css/index.css">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    
  </head>

  <body>
    <!-- header -->
    <th:block th:replace="fragments :: header">

    </th:block>
    <!-- end header -->

    <section>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li>Trang chủ > Lắp đặt</li>
                    </ul>
                </div>
            </div>
        </div>

    </section>
    
 <!-- LẮP ĐẶT -->
 <div class="container">
    <div class="row ">
        <div class="col-12 text-center">
            <a class="text_GT" style=" font-size: 40px;
            font-family: 'Source Sans 3', sans-serif;">BẢNG GIÁ LẮP ĐẶT QUẠT TRẦN, THIẾT BỊ ĐIỆN VÀ THIẾT BỊ CHIẾU SÁNG</a>
        </div>

        <div class="col-12" style="margin-top:20px">
            <p style="text-align: justify; color: rgb(0, 0, 0); text-indent: 50px;letter-spacing: 2px;">Việc lắp đặt các thiết bị điện phức tạp như: đèn trang trí, đèn led âm trần, máy nước nóng, quạt trần... đòi hỏi phải có kỹ thuật chuyên môn mới có thể làm được để tránh gây ra những sự cố không mong muốn.
            </p>
        </div>
        <div class="col-12" style="margin-top:20px; text-align:center;">
            <img src="/asset/img/ld1.jpg" alt="">
            <strong>Hình 1: Nhân viên Đức Phát kiểm tra sản phẩm trước khi lắp đặt</strong>
        </div>

        <div class="col-12" style="margin-top:20px; text-align: center;">
            <p style="text-align: justify; color: rgb(0, 0, 0); text-indent: 50px;letter-spacing: 2px;">Là 1 trong những đại lý chuyên cung cấp các sản phẩm thiết bị điện chính hãng và đội ngũ kỹ thuật viên trên 5 năm kinh nghiệm trong lắp đặt thi công thiết bị điện dân dụng, Đức Phát cam kết mang đến cho khách hàng những dịch vụ chất lượng
                nhất:
            </p>
            <p style="text-align: justify; color: rgb(0, 0, 0); text-indent: 50px;letter-spacing: 2px;">Mức giá cạnh tranh, tiết kiệm tối đa chi phí cho khách hàng</p>
            <p style="text-align: justify; color: rgb(0, 0, 0); text-indent: 50px;letter-spacing: 2px;">Cam kết giá cả bằng văn bản, không phát sinh bất kì một khoản chi phí nào trong lắp đặt</p>
            <p style="text-align: justify; color: rgb(0, 0, 0); text-indent: 50px;letter-spacing: 2px;">Sử dụng công cụ hỗ trợ lắp đặt đa dạng, nâng cao hiệu suất và đảm bảo tính thẩm mỹ cho thiết bị</p>
            <img src="/asset/img/ld2.jpg" alt="">
            <strong>Hình 2: Quá trình lắp đặt sản phẩm tại nhà khách</strong>
        </div>
        <div class="col-12" style="margin-top:20px;">
            <p style="text-align: justify; color: rgb(0, 0, 0); text-indent: 50px;letter-spacing: 2px;">Tham khảo bảng báo giá của Đức Phát tại đây:</p>
            <table class="table table-bordered table-hover ">
                <thead class="thead-dark">
                    <tr style=" font-size: 15px;
                    font-family: 'Source Sans 3', sans-serif;">
                        <th scope="col">STT</th>
                        <th scope="col">Hạng mục</th>
                        <th scope="col">Đơn vị tính</th>
                        <th scope="col">Giá tiền</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Lắp mới 1 bộ máng đèn Led 1.2m - 0.6m, huỳnh quang</td>
                        <td>Bộ</td>
                        <td>60.000</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Lắp mới 1 bóng Led Bub, Compact</td>
                        <td>Bộ</td>
                        <td>20.000</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Lắp mới đèn ốp trần, lon nổi</td>
                        <td>Bộ</td>
                        <td>80.000</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>Lắp mới đèn âm trần</td>
                        <td>Bộ</td>
                        <td>40.000</td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>Lắp đèn pha led</td>
                        <td>Bộ</td>
                        <td>100.000</td>
                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td>Lắp mới công tắc, ổ cắm điện nổi</td>
                        <td>Bộ</td>
                        <td>80.000</td>
                    </tr>
                    <tr>
                        <th scope="row">7</th>
                        <td>Lắp mới công tắc, ổ cắm điện âm</td>
                        <td>Bộ</td>
                        <td>80.000</td>
                    </tr>
                    <tr>
                        <th scope="row">8</th>
                        <td>Thay công tắc, ổ cắm nổi</td>
                        <td>Bộ</td>
                        <td>80.000</td>
                    </tr>
                    <tr>
                        <th scope="row">9</th>
                        <td>Lắp máy nước nóng trực tiếp</td>
                        <td>Bộ</td>
                        <td>120.000</td>
                    </tr>
                    <tr>
                        <th scope="row">10</th>
                        <td>Lắp đèn trang trí thả (Bếp, phòng khách, phòng ngủ)</td>
                        <td>Bộ</td>
                        <td>200.000</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-12" style="margin-top:20px; text-align: center;">
            <p style="text-align: justify; color: rgb(0, 0, 0); text-indent: 20px;letter-spacing: 2px;">Một số lưu ý khi lắp đặt quạt trần - đối với trần thạch cao
            </p>
            <p style="text-align: justify; color: rgb(0, 0, 0); text-indent: 60px;letter-spacing: 2px;">Điều kiện lắp đặt là khoảng cách từ trần bê tông đến trần thạch cao nhỏ hơn hoặc bằng 20 cm.</p>
            <p style="text-align: justify; color: rgb(0, 0, 0); text-indent: 60px;letter-spacing: 2px;">Trước khi lắp đặt, quý khách vui lòng chụp hình trần nhà để bộ phận sale gửi bộ phận kỹ thuật khảo sát trước khi tiến hành lắp đặt.</p>
        </div>
        <div class="col-12" style="margin-top:20px; text-align: center;">
            <p style="text-align: justify; color: rgb(0, 0, 0); text-indent: 20px;letter-spacing: 2px;">Mọi chi tiết xin liên hệ:</p>
            <p style="text-align: justify; color: rgb(0, 0, 0); text-indent: 60px;letter-spacing: 2px;">-Cửa hàng điện nước Đức Phát</p>
            <p style="text-align: justify; color: rgb(0, 0, 0); text-indent: 60px;letter-spacing: 2px;">-Địa chỉ: 29 Quang Trung, thị trấn Chư Ty, Đức Cơ, Gia Lai</p>
            <p style="text-align: justify; color: rgb(0, 0, 0); text-indent: 60px;letter-spacing: 2px;">-Điện thoại: 0968.544.270</p>
            <p style="text-align: justify; color: rgb(0, 0, 0); text-indent: 60px;letter-spacing: 2px;">-Email: Ducphat29qt@gmail.com</p>
        </div>



    </div>
</div>
<!-- END LẮP ĐẶT -->

    

    

    <div id="back-top">
      <a title="Go to Top" href="#"> <i class="fa fa-angle-double-up"></i></a>
    </div>

    <!-- Footer Section Begin -->
    <th:block th:replace="fragments :: footer">

    </th:block>
    <!-- Footer Section End -->

  

    <!-- Js Plugins -->

    <script src="/asset/js/api/product.js"></script> 
    <script src="/asset/js/api/category.js"></script>

    <script src="/asset/js/jquery-3.3.1.min.js"></script>
    <script src="/asset/js/bootstrap.min.js"></script>
    <script src="/asset/js/jquery.nice-select.min.js"></script>
    <script src="/asset/js/jquery-ui.min.js"></script>
    <script src="/asset/js/jquery.slicknav.js"></script>
    <script src="/asset/js/mixitup.min.js"></script>
    <script src="/asset/js/owl.carousel.min.js"></script>
    <script src="/asset/js/main.js"></script>
    <script src="/asset/js/slideshow.js"></script>

  </body>
</html>
