<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Title -->
<title>Products | Graindashboard UI Kit</title>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">

<!-- Favicon -->
<link rel="shortcut icon" href="/asset/img/favicon.png">

<!-- Template -->
 <link rel="stylesheet" href="/asset/dashboard/css/graindashboard.css">
<link rel="stylesheet" href="/asset/css/style.css" type="text/css">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
	integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
	crossorigin="anonymous">
</head>
<style>
	header{
		background-color: white;
	}
</style>
<body>
	<!-- header -->
  <th:block th:replace="fragments :: header">

  </th:block>
   <!-- end header -->
	<th:block th:if="${isLogin == 1}">
	<div class="container">
		<div class="row">
			<div class=" col-6 f-col f-col3 col-md-3 col-sm-6 col-xs-6">
				<h3>Thông tin đặt hàng</h3>
				<div style="margin-bottom: 30px;">
					<span><i>Xin chào, [[${name}]]</i></span>
				</div>
                
                    <div class="footer-title">
                        <h4>Thông tin khách hàng</h4>
                    </div>
                    <div class="footer-content">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><i class="fas fa-user-alt"></i>
								[[${name}]]</li>
                            <li class="list-group-item"><i class="fas fa-location-arrow"></i>
                                [[${address}]]</li>
                        </ul>
                    </div>
				<div class="footer-title">
					<h4>Đơn hàng của bạn</h4>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="editModal" tabindex="-1"
				aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog"
					style="width: 700px; border: 1px dashed #ebebeb;">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">
								<b>Hủy đơn hàng</b>
							</h5>
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<h3>Bạn chắc chắn muốn hủy đơn hàng này?</h3>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-primary" action=""
						id="cancelOrder">Đồng ý</button>
							<button type="button" class="btn btn-secondary"
								data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
	<div style="display: none;">
		<form id="searchForm">
			<input name="ten" type="text"
				placeholder="Nhập SĐT đơn hàng cần tìm..." /> <input type="hidden"
				name="trang" value="0" />
                <input type="hidden"
				name="email" th:value="${email}"/>
                <input type="hidden" 
				name="customer_id" th:value="${customer_id}"/>
                <select id="sort-item" name="xepTheo">
				<option value="created_date">Lọc theo ngày</option>
				<option value="orderId">Lọc theo Id</option>
			</select> <select id="sort-item" name="thuTu">
				<option value="false">Giảm dần</option>
				<option value="true">Tăng dần</option>
			</select>

			<button class="button" type="button" id="searchBt">Tìm kiếm</button>
		</form>
	</div>
	
	<div class="container">
		<div class="row">
			<div class="row">
				<div id="dataOrder">
	
				</div>
				
				<div style="float: right;" class="page-item card-footer d-block d-md-flex align-items-center d-print-none"
									id="phanTrang">
								</div>
			</div>
			
		</div>

	</div>
	<script src="/asset/dashboard/js/graindashboard.js"></script>
	<script src="/asset/dashboard/js/graindashboard.vendor.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
		integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
		crossorigin="anonymous"></script>
    

	<!-- Validation -->
	<script
		src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"
		integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/additional-methods.min.js"
		integrity="sha512-XZEy8UQ9rngkxQVugAdOuBRDmJ5N4vCuNXCh8KlniZgDKTvf7zl75QBtaVG1lEhMFe2a2DuA22nZYY+qsI2/xA=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>

	<script
		src="https://cdn.jsdelivr.net/npm/form-data-json-convert/dist/form-data-json.min.js"></script>
		<script src="/asset/js/api/orderCustomer.js"></script>
		<script>
			var insertModal = new bootstrap.Modal(
    document.getElementById("editModal"),
    {
      keyboard: false,
    }
  );


  var url = "/api/order";
  var rowTemplate =`<div class="col-12 table-responsive-xl">
				<table class="table table-striped table-sm" id="table">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Số điện thoại</th>
							<th scope="col">Ngày đặt</th>
							<th scope="col">Địa chỉ</th>
							<th scope="col">Tổng tiền</th>
                            <th scope="col">Sản phẩm</th>
							<th scope="col">Tình trạng đơn hàng</th>
							
						</tr>
					</thead>
					<tbody id="myTable">
						{{#each order}}
							<tr> 
							<td class="py-3">{{orderId}}</td> 
							<td class="py-3" id="createdDate">{{createdDate}}</td>
							<td class="py-3">{{phoneNumber}}</td> 
							<td class="py-3">{{address}} <p style = "display:block;">({{ward}}-{{district}}-{{province}})</td></p> 
							<td class="py-3" id="total">{{total}}</td>
							{{#each order_items}} 
							<td class="py-3" style = "display:block;">{{productName}} <p>(Số lượng: {{quantity}})</p> <p>Đơn giá: {{price}}</p></td> 
							{{/each}}
							
							<td class="py-3" style="color:#85AAD7;">{{tinhtrang.tinhTrang}}</td> 
							<td class="py-3"><button style="color:red;" class="edit btn btn-outline" id="{{tinhtrang.idTT}}" c-id="{{orderId}}">Hủy đơn hàng</button></td> 
							</tr> 
						{{/each}}
					</tbody>
				</table>
			</div>`;
  var rowHbs = Handlebars.compile(rowTemplate);
  
var tinhtrangSelect = '<select id="tinhtrangSelect" class="form-control" name="idTT">{{#each tinhtrangs}}'
        + '<option value="{{idTT}}">'
        + "{{tinhTrang}}"
        + "</option>"
        + "{{/each}}</select>";
    var tinhtrangSelectHbs = Handlebars.compile(tinhtrangSelect); 
    

  function loadList() {
    var $form = $("#searchForm");
    var customerData = {
      email: $form.find('input[name="email"]').val(),
      trang : 0,
      xepTheo: "created_date",
      thuTu : true,
        };
    var searchOption = {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify(searchForm),
    };

    fetch("/api/orderCustomer/search", searchOption)
      .then((res) => res.json())
      .then((data) => {
        var rows = rowHbs({ order: data.content });
        $("#dataOrder").html(rows);
        orderStatus();
        formatNumber();
        bindClick();
        var pageHtml = "";
        for (var i = 0; i < data.totalPages; i++) {
          pageHtml += `<button style="display: inline-block; margin-left:5px;" value="${i}" id="page" class='${i == data.pageable.pageNumber ? "page-link active pageIndex" : "page-link pageIndex"}' onclick="test(${i})">${i+1}</button>`;
        }
        $("#phanTrang").html(pageHtml);
        
      });


      
  }
  loadList();
  $("#searchBt").click(function () {
    loadList();
  });


  function orderStatus() {
    $( "#2" ).remove();
    $( "#3" ).remove();
    $( "#4" ).remove();
    $( "#5" ).remove();
    
    $('.edit').each(function(index, item) {

if (item.id == 6 || item.id == 5 || item.id == 4  || item.id == 3  || item.id == 2) {
    item.remove();
}


});
  }

  

  function test(pageNumber) {
    var $form = $("#searchForm");
    var customerData = {
      email: $form.find('input[name="email"]').val(),
      trang : pageNumber,
      xepTheo: "created_date",
      thuTu : true,
        };
  
     
      $.ajax({
          url: "/api/orderCustomer/search",
          type: "POST",
          data: JSON.stringify(customerData),
          contentType: "application/json; charset=utf-8",
          dataType: "json",
          success: function (data, textStatus, jqXHR) {
        if (data.content == []) {
          alert("lỗi")
        }
        var rows = rowHbs({ order: data.content });
       $("#dataOrder").html(rows);
       orderStatus();
       formatNumber();
       bindClick();
       var pageHtml = "";
       for (var i = 0; i < data.totalPages; i++) {
      pageHtml += `<button style="display: inline-block; margin-left:5px;" value="${i}" id="page" class='${i == data.pageable.pageNumber ? "page-link active pageIndex" : "page-link pageIndex"}' onclick="test(${i})">${i+1}</button>`;
       }
       $("#phanTrang").html(pageHtml);
  
          },
          error: function (jqXHR, textStatus, errorThrown) {
  
          },
        });
    }
  

  function bindClick() {
    $(".edit").click(function () {
      insertModal.show();
      var id = $(this).attr("c-id");
     

      idTT = 6;

      var order = {
      id,
      idTT,
      tinhtrang: {idTT: '6'}

    };



      var editOption = {
                    method: "PUT",
                    headers: {
                      "Content-Type": "application/json",
                    },
                    body: JSON.stringify(order),
                  };

                  
                  $("#cancelOrder").button().click(function(){
                    
                      order = fetch("/api/cencelOrder/" + id, editOption)
                      .then((response) => response.json())
                      .then((data) => {
                        loadList();
                      });
                    insertModal.hide();
                  
});   
    });
  }
  

  function formatNumber() {
    $('#myTable tr').each(function() {
var price = $(this).find("#total").html();
var priceFormat = price.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')
var pr = $(this).find("#total").text(priceFormat +'đ');

//date
var date = $(this).find("#createdDate").html();
var dateFormat = new Date(date);
var dt = $(this).find("#createdDate").text(dateFormat.toLocaleString());
});


  }

		</script>
</th:block>
<th:block th:if="${isLogin == 2}">
	<div class="container">
	<div class="modal fade" id="editModal" tabindex="-1"
				aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog"
					style="width: 700px; border: 1px dashed #ebebeb;">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">
								<b>Hủy đơn hàng</b>
							</h5>
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<h3>Bạn chắc chắn muốn hủy đơn hàng này?</h3>
              <i>(Lưu ý : Cửa hàng sẽ liện lạc lại với bạn để xác nhận hủy đơn hàng.)</i>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-primary" action=""
						id="cancelOrder">Đồng ý</button>
							<button type="button" class="btn btn-secondary"
								data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>

			<!-- check order isLogin == false -->
			<main class="main">
				<div class="content">
					  <div class="container-fluid pb-5">
						  <div class="row justify-content-md-center">
							  <div class="card-wrapper col-12 col-md-4 mt-5">
								  <div class="card border border-primary">
									  <div class="card-body">
										  <h4 class="card-title">Kiểm tra đơn hàng</h4>
										  <form id="checkOrder">
											  <div class="form-group">
												  <label for="email">Email</label>
												  <input id="email"  class="form-control" name="email" placeholder="Vui lòng nhập email">
											  </div>									  
		  
											  <div class="form-group no-margin">
												  <button type="submit" class="btn btn-primary btn-block">
													  Xem đơn hàng
												  </button>
											  </div>
										  </form>
									  </div>
								  </div>
							  </div>
						  </div>
					  </div>
				</div>
			  </main>
	
			<div style="display: none;">
		<form id="searchForm">
			<input name="ten" type="text"
				placeholder="Nhập SĐT đơn hàng cần tìm..." /> <input type="hidden"
				name="trang" value="0" />
                <select id="sort-item" name="xepTheo">
				<option value="createdDate">Lọc theo ngày</option>
				<option value="orderId">Lọc theo Id</option>
			</select> <select id="sort-item" name="thuTu">
				<option value="false">Giảm dần</option>
				<option value="true">Tăng dần</option>
			</select>

			<button class="button" type="button" id="searchBt">Tìm kiếm</button>
		</form>
	</div>
	
	<div class="container">
		<div class="row">
			<div id="dataOrder">

			</div>
			
			<div style="float: right;" class="page-item card-footer d-block d-md-flex align-items-center d-print-none"
								id="phanTrang">
							</div>
		</div>
	</div>
	<script src="/asset/dashboard/js/graindashboard.js"></script>
	<script src="/asset/dashboard/js/graindashboard.vendor.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
		integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
		crossorigin="anonymous"></script>
    

	<!-- Validation -->
	<script
		src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"
		integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/additional-methods.min.js"
		integrity="sha512-XZEy8UQ9rngkxQVugAdOuBRDmJ5N4vCuNXCh8KlniZgDKTvf7zl75QBtaVG1lEhMFe2a2DuA22nZYY+qsI2/xA=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>

	<script
		src="https://cdn.jsdelivr.net/npm/form-data-json-convert/dist/form-data-json.min.js"></script>
		<script src="/asset/js/api/orderCustomer.js"></script>
		<script>

var insertModal = new bootstrap.Modal(
    document.getElementById("editModal"),
    {
      keyboard: false,
    }
  );

  var rowTemplate =`<div class="col-12 table-responsive-xl">
				<table class="table table-striped table-sm" id="table">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Số điện thoại</th>
							<th scope="col">Ngày đặt</th>
							<th scope="col">Địa chỉ</th>
							<th scope="col">Tổng tiền</th>
                            <th scope="col">Sản phẩm</th>
							<th scope="col">Tình trạng đơn hàng</th>
							
						</tr>
					</thead>
					<tbody id="myTable">
						{{#each order}}
							<tr> 
							<td class="py-3">{{orderId}}</td> 
							<td class="py-3" id="createdDate">{{createdDate}}</td>
							<td class="py-3">{{phoneNumber}}</td> 
							<td class="py-3">{{address}} <p style = "display:block;">({{ward}}-{{district}}-{{province}})</td></p> 
							<td class="py-3" id="total">{{total}}</td>
							{{#each order_items}} 
							<td class="py-3" style = "display:block;">{{productName}} <p>(Số lượng: {{quantity}})</p> <p>Đơn giá: {{price}}</p></td> 
							{{/each}}
							
							<td class="py-3" style="color:#85AAD7;">{{tinhtrang.tinhTrang}}</td> 
							<td class="py-3"><button style="color:red;" class="edit btn btn-outline" id="{{tinhtrang.idTT}}" c-id="{{orderId}}">Hủy đơn hàng</button></td> 
							</tr> 
						{{/each}}
					</tbody>
				</table>
			</div>`;
  var rowHbs = Handlebars.compile(rowTemplate);
  
var tinhtrangSelect = '<select id="tinhtrangSelect" class="form-control" name="idTT">{{#each tinhtrangs}}'
        + '<option value="{{idTT}}">'
        + "{{tinhTrang}}"
        + "</option>"
        + "{{/each}}</select>";
    var tinhtrangSelectHbs = Handlebars.compile(tinhtrangSelect); 
    

  function loadList() {
	$.validator.addMethod(
    "checkEmail",
    function (value, element) {
      return (
        this.optional(element) ||
        /^[A-Z0-9._%+-]+@([A-Z0-9-]+\.)+[A-Z]{2,4}$/i.test(value)
      );
    },
    "Sai định dạng email, vui lòng nhập lại!"
  );
  $("#checkOrder").validate({
    rules: {
      email: "required checkEmail",
    },
    messages: {
      email: {
        required: "Email không được để trống",
      },
    },
    submitHandler: function () {
      var $form = $("#checkOrder");
      var loginData = {
        email: $form.find('input[name="email"]').val(),
		xepTheo: "created_date",
		thuTu : true,
      };


      $.ajax({
        url: "/api/orderCustomer/search",
        type: "POST",
        data: JSON.stringify(loginData),
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function (data, textStatus, jqXHR) {
			if (data.content.length != 0) {
				var rows = rowHbs({ order: data.content });
	   $("#dataOrder").html(rows);
	   orderStatus();
	   formatNumber();
	   bindClick();
	   var pageHtml = "";
	   for (var i = 0; i < data.totalPages; i++) {
		 pageHtml += `<button style="display: inline-block; margin-left:5px;" value="${i}" id="page" class='${i == data.pageable.pageNumber ? "page-link active pageIndex" : "page-link pageIndex"}' onclick="test(${i})">${i+1}</button>`;
	   }
	   $("#phanTrang").html(pageHtml);
			}else {

				$("#dataOrder").append(`
					<div>Bạn chưa đặt đơn hàng nào tại Đức Phát.</div>
				`);

			}
			

        },
        error: function (jqXHR, textStatus, errorThrown) {

        },
      });
    },
  });
    //var searchForm = FormDataJson.toJson(document.querySelector("form"));
  }

  function refreshData() {
    var $form = $("#checkOrder");
      var loginData = {
        email: $form.find('input[name="email"]').val(),
		xepTheo: "created_date",
		thuTu : true,
      };
    $.ajax({
        url: "/api/orderCustomer/search",
        type: "POST",
        data: JSON.stringify(loginData),
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function (data, textStatus, jqXHR) {
			if (data.content.length != 0) {
				var rows = rowHbs({ order: data.content });
	   $("#dataOrder").html(rows);
	   orderStatus();
	   formatNumber();
	   bindClick();
	   var pageHtml = "";
	   for (var i = 0; i < data.totalPages; i++) {
		 pageHtml += `<button style="display: inline-block; margin-left:5px;" value="${i}" id="page" class='${i == data.pageable.pageNumber ? "page-link active pageIndex" : "page-link pageIndex"}' onclick="test(${i})">${i+1}</button>`;
	   }
	   $("#phanTrang").html(pageHtml);
			}else {

				$("#dataOrder").append(`
					<div>Bạn chưa đặt đơn hàng nào tại Đức Phát.</div>
				`);

			}
			

        },
        error: function (jqXHR, textStatus, errorThrown) {

        },
      });
  }


  function formatNumber() {
        $('#myTable tr').each(function() {
    var price = $(this).find("#total").html();
    var priceFormat = price.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')
    var pr = $(this).find("#total").text(priceFormat +'đ');
    
    //date
    var date = $(this).find("#createdDate").html();
    var dateFormat = new Date(date);
    var dt = $(this).find("#createdDate").text(dateFormat.toLocaleString());
 });

 
      }


  loadList();
  $("#searchBt").click(function () {
    loadList();
  });

  function test(pageNumber) {
	var $form = $("#checkOrder");
	var loginData = {
        email: $form.find('input[name="email"]').val(),
		trang : pageNumber,
		xepTheo: "created_date",
		thuTu : true,
      };

	  $.ajax({
        url: "/api/orderCustomer/search",
        type: "POST",
        data: JSON.stringify(loginData),
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function (data, textStatus, jqXHR) {
			if (data.content == []) {
				alert("lỗi")
			}
			var rows = rowHbs({ order: data.content });
	   $("#dataOrder").html(rows);
	   orderStatus();
	   formatNumber();
	   bindClick();
	   var pageHtml = "";
	   for (var i = 0; i < data.totalPages; i++) {
		pageHtml += `<button style="display: inline-block; margin-left:5px;" value="${i}" id="page" class='${i == data.pageable.pageNumber ? "page-link active pageIndex" : "page-link pageIndex"}' onclick="test(${i})">${i+1}</button>`;
	   }
	   $("#phanTrang").html(pageHtml);

        },
        error: function (jqXHR, textStatus, errorThrown) {

        },
      });
  }



  function orderStatus() {
    $( "#2" ).remove();
    $( "#3" ).remove();
    $( "#4" ).remove();
    $( "#5" ).remove();
    
    $('.edit').each(function(index, item) {

if (item.id == 6 || item.id == 5 || item.id == 4  || item.id == 3  || item.id == 2) {
    item.remove();
}


});
  }

  
  function bindClick() {
    $(".edit").click(function () {
      insertModal.show();
      var id = $(this).attr("c-id");
     

      idTT = 6;

      var order = {
      id,
      idTT,
      tinhtrang: {idTT: '6'}

    };



      var editOption = {
                    method: "PUT",
                    headers: {
                      "Content-Type": "application/json",
                    },
                    body: JSON.stringify(order),
                  };

                  
                  $("#cancelOrder").button().click(function(){
                    
                      order = fetch("/api/cencelOrder/" + id, editOption)
                      .then((response) => response.json())
                      .then((data) => {
                        refreshData();
                      });
                    insertModal.hide();
                  
});   
    });
  }
  

		</script>
</th:block>

<script>
  var quantityProduct = $("#quantityCart").text();

if (quantityProduct === '') {
    $("#quantityCart").hide();
}else{
    $("#quantityCart").show();
}
</script>


</body>
</html>