<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Đức Phát | Thiết bị điện</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css'>
   
    <!-- Css Styles -->
    <link rel="stylesheet" href="/asset/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/asset/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/asset/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/asset/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/asset/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/asset/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/asset/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/asset/css/style.css" type="text/css">
    <link rel="stylesheet" href="/asset/css/product.css">
    <link rel="stylesheet" href="/asset/css/slideshow.css">
    <link rel="stylesheet" href="/asset/css/modalhide.css">
    <link rel="stylesheet" href="/asset/css/index.css">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.0.8/popper.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js'></script>

</head>

<body>
     <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <a href="#"><img src="img/logo.png" alt=""></a>
        </div>
        <div class="humberger__menu__cart">
            <ul>

                <li><a href="./giohang.html"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
            </ul>

        </div>
        <div class="humberger__menu__widget">
            <div class="header__top__right__language">
                <img src="img/language.png" alt="">
                <div>English</div>
                <span class="arrow_carrot-down"></span>
                <ul>
                    <li><a href="#">Spanis</a></li>
                    <li><a href="#">English</a></li>
                </ul>
            </div>
            <div class="header__top__right__language">
                <div> <i class="fa fa-user"></i> Tài khoản</div>
                <span class="arrow_carrot-down"></span>
                <ul>
                    <li><a href="./dangnhap.html">Đăng nhập</a></li>
                    <li><a href="./dangky.html">Đăng ký</a></li>
                </ul>
            </div>
        </div>
        <nav class="humberger__menu__nav mobile-menu">
            <ul>
                <li class="active"><a href="./index.html">Trang chủ</a></li>
                <li><a href="./product.html">Sản phẩm</a>
                    <ul class="header__menu__dropdown">
                        <li><a href="./shop-details.html">Đèn chiếu sáng</a></li>
                        <li><a href="./shoping-cart.html">Công tắc ổ cắm</a></li>
                        <li><a href="./checkout.html">CB-Thiết bị đóng cắt</a></li>
                        <li><a href="./blog-details.html">Đèn trang trí</a></li>
                        <li><a href="./blog-details.html">Ống luồn dây điện</a></li>
                        <li><a href="./blog-details.html">Dây cáp điện</a></li>
                    </ul>
                </li>
                <li><a href="./blog.html">Khuyến mãi</a></li>
                <li><a href="./tintuc.html">Tin tức</a></li>
                <li><a href="./contact.html">Liên hệ</a></li>
                <li><a href="./blog-details.html">Lắp đặt</a></li>
                <li><a href="./blog-details.html">Giới thiệu</a></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="header__top__right__social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-pinterest-p"></i></a>
        </div>
        <div class="humberger__menu__contact">
            <ul>
                <li><i class="fa fa-envelope"></i>Ducphatelectric113@gmail.com</li>
                <li>Thắp sáng ước mơ</li>
            </ul>
        </div>
    </div>
    <!-- Humberger End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__left">
                            <ul>
                                <li><i class="fa fa-envelope"></i> Ducphatelectric113@gmail.com</li>
                                <li>Thắp sáng ước mơ</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__right">
                            <div class="header__top__right__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                            </div>
                            <div class="header__top__right__language">
                                <img src="img/language.png" alt="">
                                <div>English</div>
                                <span class="arrow_carrot-down"></span>
                                <ul>
                                    <li><a href="#">Spanis</a></li>
                                    <li><a href="#">English</a></li>
                                </ul>
                            </div>
                            <div class="header__top__right__language">
                                <div> <i class="fa fa-user"></i> Tài khoản</div>
                                <span class="arrow_carrot-down"></span>
                                <ul>
                                    <li><a href="./dangnhap.html">Đăng nhập</a></li>
                                    <li><a href="./dangky.html">Đăng ký</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3" style="text-align: center;">
                    <div class="header__logo">
                        <a href="./index.html"><img class="imglogo" src="img/lg.png" alt="" width=""></a>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="hero__search" style="padding-top: 20px">
                        <div class="hero__search__form">
                            <form th:action="@{/search}" method="GET">


                                <input type="text" name="query" th:value="${searchName}" placeholder="Tìm kiếm sản phẩm...">
                                <button type="submit" class="site-btn">SEARCH</button>
                            </form>
                        </div>
                        <div class="hero__search__phone">
                            <div class="hero__search__phone__icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="hero__search__phone__text">
                                <h5>0987.654.321</h5>
                                <span>Hỗ trợ 24/7 </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Hero Section Begin -->
    <header class="header-bottom sticky-top">
        <div class="container">

            <nav class="header__menu">
                <ul>
                    <li class="active"><a href="./index.html">Trang chủ</a></li>
                    <li><a href="./product.html">Sản phẩm</a>
                        <ul class="header__menu__dropdown">
                            <li><a href="./shop-details.html">Đèn chiếu sáng</a></li>
                            <li><a href="./shoping-cart.html">Công tắc ổ cắm</a></li>
                            <li><a href="./checkout.html">CB-Thiết bị đóng cắt</a></li>
                            <li><a href="./blog-details.html">Đèn trang trí</a></li>
                            <li><a href="./blog-details.html">Ống luồn dây điện</a></li>
                            <li><a href="./blog-details.html">Dây cáp điện</a></li>
                        </ul>
                    </li>
                    <li><a href="./blog.html">Khuyến mãi</a></li>
                    <li><a href="./tintuc.html">Tin tức</a></li>
                    <li><a href="./contact.html">Liên hệ</a></li>
                    <li><a href="./blog-details.html">Lắp đặt</a></li>
                    <li><a href="./blog-details.html">Giới thiệu</a></li>
                    <li style="float: right;">

                        <a href="./giohang.html" class="header__cart"><i class="fa fa-shopping-bag"></i> <span>3</span></a>
                    </li>

                </ul>

            </nav>

        </div>
    </header>

    <section>
        <!-- Humberger Begin -->
        <div class="filter__open">
            <i class="fa fa-filter"></i>
        </div>
    <div class="filter__menu__overlay"></div>
    <div class="filter__menu__wrapper">
        <h2>Lọc</h2>
        <div class="filter_categories_mobile">
            <div class="filter_desktop">
                <div class="categories_name">Thương hiệu</div>
            </div>
            <div class="search_categories_mobile">
                <div class="input-group">
                    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                      aria-describedby="search-addon" />
                    <button type="button" class="btn btn-outline-primary">search</button>
                </div>
                </div>
            <div class="available-box-options">
                <div class="options-box">
                    
                </div>
                <div class="overflow-auto">
                    <ul>
                        <li>
                          <div class="row filter_mobile">
                             <div class="selected-option-icon"> <input type="checkbox"></div>
                              <div class="selected-option">test</div>              
                             
                          </div>
                        </li>
                        <li>
                          <div class="row filter_mobile">
                             <div class="selected-option-icon"> <input type="checkbox"></div>
                              <div class="selected-option">test</div>              
                             
                          </div>
                        </li>
                        <li>
                          <div class="row filter_mobile">
                             <div class="selected-option-icon"> <input type="checkbox"></div>
                              <div class="selected-option">test</div>              
                             
                          </div>
                        </li>
                                  <li>
                          <div class="row filter_mobile">
                             <div class="selected-option-icon"> <input type="checkbox"></div>
                              <div class="selected-option">test</div>              
                             
                          </div>
                        </li>
                                  <li>
                          <div class="row filter_mobile">
                             <div class="selected-option-icon"> <input type="checkbox"></div>
                              <div class="selected-option">test</div>              
                             
                          </div>
                        </li>
                        <li>
                          <div class="row filter_mobile">
                             <div class="selected-option-icon"> <input type="checkbox"></div>
                              <div class="selected-option">test</div>              
                             
                          </div>
                        </li>
                        <li>
                          <div class="row filter_mobile">
                             <div class="selected-option-icon"> <input type="checkbox"></div>
                              <div class="selected-option">test</div>              
                             
                          </div>
                        </li>
                        <li>
                          <div class="row filter_mobile">
                             <div class="selected-option-icon"> <input type="checkbox"></div>
                              <div class="selected-option">test</div>              
                             
                          </div>
                        </li>          
                        <li>
                          <div class="row filter_mobile">
                             <div class="selected-option-icon"> <input type="checkbox"></div>
                              <div class="selected-option">test</div>              
                             
                          </div>
                        </li>
                        <li>
                          <div class="row filter_mobile">
                             <div class="selected-option-icon"> <input type="checkbox"></div>
                              <div class="selected-option">test</div>              
                             
                          </div>
                        </li>
                        </ul>
                </div>
            </div>
        </div>


            <div class="filter_categories_mobile">
                <div class="filter_desktop">
                    <div class="categories_name">Loại sản phẩm</div>
                </div>
                <div class="search_categories_mobile">
                    <div class="input-group">
                        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                          aria-describedby="search-addon" />
                        <button type="button" class="btn btn-outline-primary">search</button>
                    </div>
                    </div>
                <div class="available-box-options">
                    <div class="options-box">
                        
                    </div>
                    <div class="overflow-auto">
                        <ul>
                            <li>
                              <div class="row filter_mobile">
                                 <div class="selected-option-icon"> <input type="checkbox"></div>
                                  <div class="selected-option">test</div>              
                                 
                              </div>
                            </li>
                            <li>
                              <div class="row filter_mobile">
                                 <div class="selected-option-icon"> <input type="checkbox"></div>
                                  <div class="selected-option">test</div>              
                                 
                              </div>
                            </li>
                            <li>
                              <div class="row filter_mobile">
                                 <div class="selected-option-icon"> <input type="checkbox"></div>
                                  <div class="selected-option">test</div>              
                                 
                              </div>
                            </li>
                                      <li>
                              <div class="row filter_mobile">
                                 <div class="selected-option-icon"> <input type="checkbox"></div>
                                  <div class="selected-option">test</div>              
                                 
                              </div>
                            </li>
                                      <li>
                              <div class="row filter_mobile">
                                 <div class="selected-option-icon"> <input type="checkbox"></div>
                                  <div class="selected-option">test</div>              
                                 
                              </div>
                            </li>
                            <li>
                              <div class="row filter_mobile">
                                 <div class="selected-option-icon"> <input type="checkbox"></div>
                                  <div class="selected-option">test</div>              
                                 
                              </div>
                            </li>
                            <li>
                              <div class="row filter_mobile">
                                 <div class="selected-option-icon"> <input type="checkbox"></div>
                                  <div class="selected-option">test</div>              
                                 
                              </div>
                            </li>
                            <li>
                              <div class="row filter_mobile">
                                 <div class="selected-option-icon"> <input type="checkbox"></div>
                                  <div class="selected-option">test</div>              
                                 
                              </div>
                            </li>          
                            <li>
                              <div class="row filter_mobile">
                                 <div class="selected-option-icon"> <input type="checkbox"></div>
                                  <div class="selected-option">test</div>              
                                 
                              </div>
                            </li>
                            <li>
                              <div class="row filter_mobile">
                                 <div class="selected-option-icon"> <input type="checkbox"></div>
                                  <div class="selected-option">test</div>              
                                 
                              </div>
                            </li>
                            </ul>
                    </div>
                </div>
                </div>

                <div class="filter_categories_mobile">
                    <div class="filter_desktop">
                        <div class="categories_name">Giá sản phẩm</div>
                    </div>
                    <div class="search_categories_mobile">
                        <div class="input-group">
                            <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                              aria-describedby="search-addon" />
                            <button type="button" class="btn btn-outline-primary">search</button>
                        </div>
                        </div>
                    <div class="available-box-options">
                        <div class="options-box">
                            
                        </div>
                        <div class="overflow-auto">
                            <ul>
                                <li>
                                  <div class="row filter_mobile">
                                     <div class="selected-option-icon"> <input type="checkbox"></div>
                                      <div class="selected-option">test</div>              
                                     
                                  </div>
                                </li>
                                <li>
                                  <div class="row filter_mobile">
                                     <div class="selected-option-icon"> <input type="checkbox"></div>
                                      <div class="selected-option">test</div>              
                                     
                                  </div>
                                </li>
                                <li>
                                  <div class="row filter_mobile">
                                     <div class="selected-option-icon"> <input type="checkbox"></div>
                                      <div class="selected-option">test</div>              
                                     
                                  </div>
                                </li>
                                          <li>
                                  <div class="row filter_mobile">
                                     <div class="selected-option-icon"> <input type="checkbox"></div>
                                      <div class="selected-option">test</div>              
                                     
                                  </div>
                                </li>
                                          <li>
                                  <div class="row filter_mobile">
                                     <div class="selected-option-icon"> <input type="checkbox"></div>
                                      <div class="selected-option">test</div>              
                                     
                                  </div>
                                </li>
                                <li>
                                  <div class="row filter_mobile">
                                     <div class="selected-option-icon"> <input type="checkbox"></div>
                                      <div class="selected-option">test</div>              
                                     
                                  </div>
                                </li>
                                <li>
                                  <div class="row filter_mobile">
                                     <div class="selected-option-icon"> <input type="checkbox"></div>
                                      <div class="selected-option">test</div>              
                                     
                                  </div>
                                </li>
                                <li>
                                  <div class="row filter_mobile">
                                     <div class="selected-option-icon"> <input type="checkbox"></div>
                                      <div class="selected-option">test</div>              
                                     
                                  </div>
                                </li>          
                                <li>
                                  <div class="row filter_mobile">
                                     <div class="selected-option-icon"> <input type="checkbox"></div>
                                      <div class="selected-option">test</div>              
                                     
                                  </div>
                                </li>
                                <li>
                                  <div class="row filter_mobile">
                                     <div class="selected-option-icon"> <input type="checkbox"></div>
                                      <div class="selected-option">test</div>              
                                     
                                  </div>
                                </li>
                                </ul>
                        </div>
                    </div>


        
    </div>
    </div>
</div>
    </div>
    </div>
    <!-- Humberger End -->
    </section>


    <section>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li>Trang chủ > Tất cả sản phẩm</li>
                    </ul>
                </div>
            </div>
        </div>


    </section>

    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>Danh mục sản phẩm</span>
                        </div>
                        <ul>
                            <li><a href="#">Đèn led chiếu sáng</a></li>
                            <li><a href="#">Công tăc ổ cắm</a></li>
                            <li><a href="#">Dây cáp điện</a></li>
                            <li><a href="#">CB-Thiết bị đóng cắt</a></li>
                            <li><a href="#">Đèn tràn trí</a></li>
                            <li><a href="#">Ống luồn dây điện</a></li>
                            <li><a href="#">Điện gia dụng</a></li>
                            
                        </ul>
                    </div>

                    <aside class="aside-item filter-vendor" style="margin-top: 30px;">
                        <div class="aside-title">
                          <h2 class="title-head margin-top-0"><span>Thương hiệu</span></h2>
                        </div>
                        <div class="aside-content filter-group">
                          
                          <ul class="filter-vendor">
                            <th:block th:each="th : ${thuonghieu}">
  
                            <li class="filter-item filter-item--check-box filter-item--green ">
                              <a th:href="@{'/trademake/' + ${th.tenTH}}" style="padding-left: 10px; color: black;">[[${th.tenTH}]]</a>
                            </li> 
                            </th:block>
                                                    
                                                                            
                          </ul>
                        </div>
                      </aside>

                    

                

               
                </div>

                <th:block th:if="${demo == 0}">
                    <div class="col-lg-9">
                        <h3 class="title-head text-center margin-bottom-10 margin-top-0">Không tìm thấy bất kỳ kết quả nào với từ khóa trên.</h3>
                        <h5 class="title-head text-center margin-bottom-10 margin-top-0">Vui lòng nhập từ khóa tìm kiếm khác</h5>
                    </div>
                    
                </th:block>

                <th:block th:if="${demo != 0}">
                    <div class="col-lg-9">
                   
                        <h3 class="title-head text-center margin-bottom-10 margin-top-0">Có [[${demo}]] kết quả tìm kiếm phù hợp</h3>

                        <div class="row">
                         <!-- card -->
                         
                         <div class="col-lg-4 mobile" th:each="products : ${products}">
                           <div class="thumb-wrapper">
                             <a th:href="@{'/detail/' + ${products.seourl}}" th:attr="onclick=|loaddetail('${products.productId}')|">
                                 
                                   <span class="sale" th:text="${#numbers.formatDecimal(products.khuyenmai, 0, 'COMMA', 0, 'POINT') +'%'}"> 
                                     
                                     </span>
                                   <img th:src="${products.hinhanh}" alt="" />
                                     <p class="product-item-name">[[${products.tensanpham}]]</p>
                                 
                                 <div class="item-price">
                                   <div class="price-box price-final_price">                                             
                                     <span class="special-price">
                                       <span class="price-container">
                                         <span class="price-wrapper">
                                           <span class="price" th:text="${#numbers.formatDecimal(products.gia, 0, 'COMMA', 0, 'POINT') +'₫'}"></span>
                                         </span>
                                       </span>
                                     </span>
                                     
                                     <span class="old-price">
                                       <span class="price-container" th:with="discount=${(100 - products.khuyenmai)/100}">
                                         <span class="price-wrapper" th:with="specialprice=${products.gia / discount}">
                                           <span class="price" th:text="${#numbers.formatDecimal(specialprice, 0, 'COMMA', 0, 'POINT') +'₫'}"></span>
                                         </span>
                                       </span>
                                     </span>                                          
                                   </div>								
                                 </div>
                               
                             </a>
                           </div>
                           
                         </div> 
                         
                         
                         <!-- end card -->
                     </div>
                        
     
                     </div>
                </th:block>
                
                
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <th:block th:if="${demo != 0}">
       <section>
        <div class="container">
            <div class="row justify-content-center">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                      <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                          <span class="sr-only">Previous</span>
                        </a>
                      </li>
                      <li th:each="i : ${#numbers.sequence(1, maxPage)}"
						th:class="${i == currentPage +1 ? 'page-item active' :'page-item' }">
						<a class="page-link" th:if="${currentPage != i}" th:href="@{'/search?query=' + ${searchName} +'&pageIndex=' + ${i-1}}">[[${i}]]</a>
						<a class="page-link" th:unless="${currentPage != i}" th:href="@{'/search?query=' + ${searchName} +'&pageIndex=' + ${i-1}}">[[${i}]]
            </a> 
					
					</li>
                      <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                          <span class="sr-only">Next</span>
                        </a>
                      </li>
                    </ul>
                  </nav>
            </div>
        </div>
    </section> 
        
    </th:block>
    
    

    <div id="back-top">
        <a title="Go to Top" href="#"> <i class="fa fa-angle-double-up"></i></a>
    </div>


    
    


    <!-- Footer Section Begin -->
    <footer class="footer spad" style="margin-top: 100px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="./index.html"><img src="img/lg.png" alt=""></a>
                        </div>
                        <ul>
                            <li>Address: 60-49 Road 11378 New York</li>
                            <li>Phone: +65 11.188.888</li>
                            <li>Email: sondtpk01429@fpt.edu.vn</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        <h6>Useful Links</h6>
                        <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">About Our Shop</a></li>
                            <li><a href="#">Secure Shopping</a></li>
                            <li><a href="#">Delivery infomation</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Our Sitemap</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">Who We Are</a></li>
                            <li><a href="#">Our Services</a></li>
                            <li><a href="#">Projects</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Innovation</a></li>
                            <li><a href="#">Testimonials</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__widget">
                        <h6>Join Our Newsletter Now</h6>
                        <p>Get E-mail updates about our latest shop and special offers.</p>
                        <form action="#">
                            <input type="text" placeholder="Enter your mail">
                            <button type="submit" class="site-btn">Subscribe</button>
                        </form>
                        <div class="footer__widget__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright">
                        <div class="footer__copyright__text"><p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template design by <i class="fa fa-heart" aria-hidden="true"></i> by <a href="#" target="_blank">Team No Crack</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p></div>
                        <div class="footer__copyright__payment"><img src="img/payment-item.png" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    
   
    <script src="/asset/js/jquery-3.3.1.min.js"></script>
    <script src="/asset/js/bootstrap.min.js"></script>
    <script src="/asset/js/jquery.nice-select.min.js"></script>
    <script src="/asset/js/jquery-ui.min.js"></script>
    <script src="/asset/js/jquery.slicknav.js"></script>
    <script src="/asset/js/mixitup.min.js"></script>
    <script src="/asset/js/owl.carousel.min.js"></script>
    <script src="/asset/js/main.js"></script>
    <script src="/asset/js/slideshow.js"></script>
    <script src="/asset/js/product.js"></script>



</body>

</html>