<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="img/shorcut.png">
    <title>Đức Phát | Thiết bị điện</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">
    <link rel='stylesheet'
        href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css'>

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link rel="stylesheet" href="css/tintuc.css" type="text/css">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.0.8/popper.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js'></script>

</head>

<body>


    <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <a href="#"><img src="img/logo.png" alt=""></a>
        </div>
        <div class="humberger__menu__cart">
            <ul>

                <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
            </ul>

        </div>
        <div class="humberger__menu__widget">
            <div class="header__top__right__language">
                <img src="img/language.png" alt="">
                <div>English</div>
                <span class="arrow_carrot-down"></span>
                <ul>
                    <li><a href="#">Spanis</a></li>
                    <li><a href="#">English</a></li>
                </ul>
            </div>
            <div class="header__top__right__language">
                <div> <i class="fa fa-user"></i> Tài khoản</div>
                <span class="arrow_carrot-down"></span>
                <ul>
                    <li><a href="./dangnhap.html">Đăng nhập</a></li>
                    <li><a href="./dangky.html">Đăng ký</a></li>
                </ul>
            </div>
        </div>
        <nav class="humberger__menu__nav mobile-menu">
            <ul>
                <li class="active"><a href="./index.html">Trang chủ</a></li>
                <li><a href="./product.html">Sản phẩm</a>
                    <ul class="header__menu__dropdown">
                        <li><a href="./shop-details.html">Đèn chiếu sáng</a></li>
                        <li><a href="./shoping-cart.html">Công tắc ổ cắm</a></li>
                        <li><a href="./checkout.html">CB-Thiết bị đóng cắt</a></li>
                        <li><a href="./blog-details.html">Đèn trang trí</a></li>
                        <li><a href="./blog-details.html">Ống luồn dây điện</a></li>
                        <li><a href="./blog-details.html">Dây cáp điện</a></li>
                    </ul>
                </li>
                <li><a href="./blog.html">Khuyến mãi</a></li>
                <li><a href="./contact.html">Tin tức</a></li>
                <li><a href="./contact.html">Liên hệ</a></li>
                <li><a href="./blog-details.html">Lắp đặt</a></li>
                <li><a href="./blog-details.html">Giới thiệu</a></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="header__top__right__social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-pinterest-p"></i></a>
        </div>
        <div class="humberger__menu__contact">
            <ul>
                <li><i class="fa fa-envelope"></i>Ducphatelectric113@gmail.com</li>
                <li>Thắp sáng ước mơ</li>
            </ul>
        </div>
    </div>
    <!-- Humberger End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__left">
                            <ul>
                                <li><i class="fa fa-envelope"></i> Ducphatelectric113@gmail.com</li>
                                <li>Thắp sáng ước mơ</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__right">
                            <div class="header__top__right__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                            </div>
                            <div class="header__top__right__language">
                                <img src="img/language.png" alt="">
                                <div>English</div>
                                <span class="arrow_carrot-down"></span>
                                <ul>
                                    <li><a href="#">Spanis</a></li>
                                    <li><a href="#">English</a></li>
                                </ul>
                            </div>
                            <div class="header__top__right__language">
                                <div> <i class="fa fa-user"></i> Tài khoản</div>
                                <span class="arrow_carrot-down"></span>
                                <ul>
                                    <li><a href="./dangnhap.html">Đăng nhập</a></li>
                                    <li><a href="./dangky.html">Đăng ký</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3" style="text-align: center;">
                    <div class="header__logo">
                        <a href="./index.html"><img class="imglogo" src="img/lg.png" alt="" width=""></a>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="hero__search" style="padding-top: 20px">
                        <div class="hero__search__form">
                            <form action="#">


                                <input type="text" placeholder="What do yo u need?">
                                <button type="submit" class="site-btn">SEARCH</button>
                            </form>
                        </div>
                        <div class="hero__search__phone">
                            <div class="hero__search__phone__icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="hero__search__phone__text">
                                <h5>0987.654.321</h5>
                                <span>Hỗ trợ 24/7 </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Hero Section Begin -->
    <header class="header-bottom sticky-top">
        <div class="container" style="max-height: 60px; padding: 5px;">

            <nav class="header__menu">
                <ul>
                    <li class="active"><a href="./index.html">Trang chủ</a></li>
                    <li><a href="./product.html">Sản phẩm</a>
                        <ul class="header__menu__dropdown">
                            <li><a href="./shop-details.html">Đèn chiếu sáng</a></li>
                            <li><a href="./shoping-cart.html">Công tắc ổ cắm</a></li>
                            <li><a href="./checkout.html">CB-Thiết bị đóng cắt</a></li>
                            <li><a href="./blog-details.html">Đèn trang trí</a></li>
                            <li><a href="./blog-details.html">Ống luồn dây điện</a></li>
                            <li><a href="./blog-details.html">Dây cáp điện</a></li>
                        </ul>
                    </li>
                    <li><a href="./blog.html">Khuyến mãi</a></li>
                    <li><a href="./contact.html">Liên hệ</a></li>
                    <li><a href="./contact.html">Tin tức</a></li>
                    <li><a href="./blog-details.html">Lắp đặt</a></li>
                    <li><a href="./blog-details.html">Giới thiệu</a></li>
                    <li style="float: right;">

                        <a href="#" class="header__cart"><i class="fa fa-shopping-bag"></i> <span>3</span></a>
                    </li>

                </ul>

            </nav>
        </div>
    </header>

    <section>
        <div class="container">
            <div class="row" style="margin-bottom: 20px; ">
                <div class="col-lg-12">
                    <ul class="headbar">
                        <li class="home">
                            <a href="#" title="Trang chủ">
                                <span>Trang chủ</span>
                            </a>
                            <span>
                                <i class="fa fa-angle-right"></i>
                            </span>
                        </li>
                        <li>
                            <strong>Tin tức</strong>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="row">
            <section class="col-9">
                <div class="news-list">
                    <div class="row">
                        <div class="col-8">
                            <img src="https://bizweb.dktcdn.net/thumb/grande/100/257/909/articles/z2511659965542-94859da9e591cd28a4d99c867d66577b.jpg?v=1622015125473" alt="">
                            <p>Bảng nhiệt độ ánh sáng của đèn Led
                            Để mua được chiếc đèn Led phù hợp với từng không gian chiếu sáng</p>
                        </div>
                        <div class="col-4">
                            <ul class="later-news">
                                <li class="has-tempnews">
                                    <div class="tempnew">
                                        <img src="https://bizweb.dktcdn.net/thumb/large/100/257/909/articles/banner-ngung-kinh-doanh-cadivi.jpg?v=1614822696617" alt="">
                                        <h3><a href="">Các bạn bị làm sao í</a></h3>
                                    </div>
                                </li>
                                <li>
                                    <h3><a href="">Cái thằng ranh con này</a></h3>
                                </li>
                                <li>
                                    <h3><a href="">Xin vĩnh biệt cụ</a></h3>
                                </li>
                            </ul>
            
                        </div>
                    </div>
                </div>
                <section class="col-12" style="padding: 0px;">
                    <div class="row">
                        <div class="col-12">
                            <div class="col-4" style="float: left; padding: 0px; margin-right: 10px;">
                                <img src="https://bizweb.dktcdn.net/thumb/large/100/257/909/articles/mp.png?v=1585734256700" alt="">
                            </div>
                            <div class="thongtin">
                                <h4 class="header">
                                    <a href=""><span>Ảo ma canada</span></a>
                                </h4>
                                <p class="thongtin-chinh">
                                    Cùng chung tay đẩy lùi dịch bệnh – Đảm bảo mua sắm an toàn tại Thuận Phong Kể từ ngày 01/04/2020 – toàn đất nước Việt Nam bắt đầu áp dụng chính sách “Cách ly toàn xã hội” để hạn chế lây nhiễm Covid 19 từ cộng đồng.
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
                
            </section>
            <aside class="right-content col-3">
                <aside class="showmate">
                    <img src="https://bizweb.dktcdn.net/100/257/909/themes/703854/assets/blogs_banner.png?1626313086929">
                </aside>
                <div class="aside-item">
                    <div class="showest">
                        <a href="">
                            <span>Xem nhiều</span>
                        </a>
                    </div>
                </div>
                <div class="salest">
                    <div class="heading">
                        <h4>Khuyến mãi</h4>
                    </div>
                    <div class="blog-newsmall">
                        <a href="">
                            <img src="https://bizweb.dktcdn.net/thumb/large/100/257/909/articles/z2511659965542-94859da9e591cd28a4d99c867d66577b.jpg?v=1622015125473" alt="">
                        </a>
                    </div>
                </div>
            </aside>
        </div>
    </div>

    <!-- Footer Section Begin -->
    <footer class="footer spad" style="margin-top: 100px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="./index.html"><img src="img/lg.png" alt=""></a>
                        </div>
                        <ul>
                            <li>Address: 60-49 Road 11378 New York</li>
                            <li>Phone: +65 11.188.888</li>
                            <li>Email: sondtpk01429@fpt.edu.vn</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        <h6>Useful Links</h6>
                        <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">About Our Shop</a></li>
                            <li><a href="#">Secure Shopping</a></li>
                            <li><a href="#">Delivery infomation</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Our Sitemap</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">Who We Are</a></li>
                            <li><a href="#">Our Services</a></li>
                            <li><a href="#">Projects</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Innovation</a></li>
                            <li><a href="#">Testimonials</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__widget">
                        <h6>Join Our Newsletter Now</h6>
                        <p>Get E-mail updates about our latest shop and special offers.</p>
                        <form action="#">
                            <input type="text" placeholder="Enter your mail">
                            <button type="submit" class="site-btn">Subscribe</button>
                        </form>
                        <div class="footer__widget__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright">
                        <div class="footer__copyright__text">
                            <p>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> All rights reserved | This
                                template design by <i class="fa fa-heart" aria-hidden="true"></i> by <a href="#"
                                    target="_blank">Team No Crack</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                        <div class="footer__copyright__payment"><img src="img/payment-item.png" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <div class="contact-bar">

    </div>

    <div id="back-top">
        <a title="Go to Top" href="#"> <i class="fa fa-angle-double-up"></i></a>
    </div>
    <!-- Js Plugins -->


    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
    </body>
    </html>